<form class="delete-checkbox-form">
<table id="list-table" class="width-100">
    <tr>
        <th class="width-24-fix"><i class="fa fa-trash-o" title="Select/Deselect all"></i></th>
        <th>
            <i class="fa fa-sort default-right" data-field="category"></i>
            <span class="order-text cursor-pointer">ID</span>
        </th>
        <th>
            <i class="fa fa-sort default-right" data-field="endDate"></i>
            <span class="order-text cursor-pointer">Dates</span>
        </th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    {% for leaveRequest in leaveRequests %}
    {% set id = leaveRequest.id %}
    <tr>
        <td><input type="checkbox" class="deleteMultipleLeaveRequest" name="deleteMultipleLeaveRequest[]" value="{{ leaveRequest.id }}" /></td>
        <td class="text-decoration-underline">
            <span class="cursor-pointer clickable">{{ leaveRequest.leaveRequestId }}</span>
        </td>
        <td>
            {% for leave in leaveRequest.leaves %}
                {{ leave.startDate|date('d  F  Y (D)') }} - {{ leave.endDate|date('d  F  Y (D)') }},<br />
            {% endfor %}
        </td>
        <td>
            {% if not listingRights['isLocked'][id]['isStatusLocked'] %}
            <select data-lr="{{ id }}" class="changeState">
            {% for key, value in listingRights['leaveRequestStates'][id] %}
                <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
            </select>
            {% else %}
            <select class="changeState dropdown-disabled" disabled="disabled">
                <option>{{ listingRights['leaveRequestStates'][id]|first }}</option>
            </select>
            {% endif %}
        </td>
        <td>
            {% if not listingRights['isLocked'][id]['isEditLocked'] %}
            <a href="{{ path('OpitNotesLeaveBundle_leave_show', { 'id': id}) }}" title="Edit leave request">
                <i class="fa fa-pencil-square-o fa-1x"></i>
            </a>
            {% else %}
            <a href="{{ path('OpitNotesLeaveBundle_leave_show', { 'id': id}) }}" title="View leave request">
                <i class="fa fa-list-alt fa-1x"></i>
            </a>
            {% endif %}
            {% if listingRights['isDeleteable'][id] %}
            <a href="{{ path('OpitNotesLeaveBundle_leaverequest_delete') }}" title="Delete leave request" data-request="{{ leaveRequest.leaveRequestId }}" data-id="{{ id }}" class="delete-leave-request">
                <i class="fa fa-trash-o fa-1x"></i>
            </a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% if numberOfPages is defined and numberOfPages > 0 %}
{% include 'OpitNotesUserBundle:Shared:_pager.html.twig' with
    {
        'numberOfPages': numberOfPages,
        'maxNumberOfPages': maxPages,
        'offset': offset,
        'url': path('OpitNotesLeaveBundle_leave_list')
    }
%}
{% endif %}
</form>