<form class="delete-checkbox-form">
    <table id="list-table" class="width-100">
        <tr>
            <th class="width-24-fix"><i class="fa fa-trash-o" title="Select/Deselect all"></i></th>
            <th>
                <i class="fa fa-sort default-right" data-field="lr.id"></i>
                <span class="order-text cursor-pointer">ID</span>
            </th>
            <th>
                <span class="order-text cursor-pointer">Employee name</span>
            </th>
            <th>
                <i class="fa fa-sort default-right" data-field="l.endDate"></i>
                <span class="order-text cursor-pointer">Dates</span>
            </th>
            <th>
                Leave days
                <i class="fa fa-info-circle cursor-pointer margin-left-5" title="Administrative holidays - Excluded Administrative working days - Included"></i>
            </th>
            <th>Created By</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        {% for leaveRequest in leaveRequests %}
        {% set id = leaveRequest.id %}
        {% set numberOfDays = 0 %}
        {% set lastContactDate = getLRLastNoticeDate(leaveRequest.created) %}
        {% set lrInfo = 'Kindly contact general manager assigned for this leave request until ' ~ lastContactDate ~ '. Incase of no contact by employee the company hold the rights to approve the leave request.' %}
        <tr>
            <td>
                <input type="checkbox" class="deleteMultiple" {% if not is_granted('delete', leaveRequest) %}disabled="disabled"{% endif %} name="deleteMultiple[]" value="{{ leaveRequest.id }}" />
            </td>
            <td>
                <span class="lr-details clickable text-decoration-underline cursor-pointer" data-lr-id="{{ id }}">{{ leaveRequest.leaveRequestId }}</span>
                {% if "now"|date("Y-m-d") <= lastContactDate and leaveRequest.leaveRequestGroup != null and leaveRequest.isMassLeaveRequest == 0 and statusData['isForApproval'][id] %}
                    <i class="fa fa-exclamation-circle color-ferrari-red cursor-pointer margin-left-5 font-size-18 tipsy-notification" title="{{ lrInfo }}"></i>
                {% endif %}
                {% if leaveRequest.isMassLeaveRequest is defined and leaveRequest.isMassLeaveRequest == true %}
                    <i class="fa fa-group margin-left-5" title="Group leave request"></i>
                {% elseif leaveRequest.parentLeaveRequestId is not null %}
                    {% if is_granted('delete', leaveRequest) %}
                        <i class="fa fa-info-circle font-size-18 cursor-pointer margin-left-5" title="{{ 'Parent leave request ' ~ leaveRequest.parentLeaveRequestId }}" ></i>
                    {% else %}
                        <i class="fa fa-lock font-size-18 cursor-pointer margin-left-5" title="Part of group leave request, you cannot edit or delete this leave request." ></i>
                    {% endif %}
                {% endif %}
            </td>
            <td>
                {% if leaveRequest.isMassLeaveRequest is defined and leaveRequest.isMassLeaveRequest == true %}
                    <i><strong>{{ 'Group leave request' }}</strong></i>
                {% else %}
                    {{ leaveRequest.employee.employeeNameFormatted }}
                {% endif %}
            </td>
            <td>
                <ul class="no-style leave-dates">
                {% for leave in leaveRequest.leaves %}
                    {% set numberOfDays = numberOfDays + leave.numberOfDays %}
                    <li data-start-date="{{leave.startDate|date('Y-m-d')}}" data-end-date="{{leave.endDate|date('Y-m-d')}}">
                        <span class="padding-2">{{ leave.startDate|date('d  F  Y (D)') }} - {{ leave.endDate|date('d  F  Y (D)') }}</span>
                    </li>
                {% endfor %}
                </ul>
            </td>
            <td>
                {{ numberOfDays }}
            </td>
            <td>
                <span>{{ leaveRequest.createdUser.employee.employeeNameFormatted }}</span>
            </td>
            <td>
                {% if leaveRequest.isMassLeaveRequest is defined and leaveRequest.isMassLeaveRequest != true %}
                    {% if is_granted('status', leaveRequest) %}
                    <select data-lr="{{ id }}" class="changeState">
                    {% for key, value in statusData['leaveRequestStates'][id] %}
                        <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                    </select>
                    {% else %}
                    <select class="changeState dropdown-disabled" disabled="disabled">
                        <option>{{ statusData['leaveRequestStates'][id]|first }}</option>
                    </select>
                    {% endif %}
                {% endif %}
            </td>
            <td>
                <a href="#" class="status-history" title="Status history">
                    <i class="fa fa-book" data-id="{{ leaveRequest.id }}"></i>
                </a>
                {% if leaveRequest.isMassLeaveRequest is defined and leaveRequest.isMassLeaveRequest != true %}
                    {% if is_granted('edit', leaveRequest) %}
                    <a href="{{ path('OpitNotesLeaveBundle_leave_show', { 'id': id}) }}" title="Edit leave request">
                        <i class="fa fa-pencil-square-o fa-1x"></i>
                    </a>
                    {% else %}
                    <a href="{{ path('OpitNotesLeaveBundle_leave_show', { 'id': id}) }}" title="View leave request">
                        <i class="fa fa-list-alt fa-1x"></i>
                    </a>
                    {% endif %}
                {% else %}
                    <span class="float-left width-22-fix">&nbsp;</span>
                {% endif %}

                {% if is_granted('delete', leaveRequest) %}
                    <a href="{{ path('OpitNotesLeaveBundle_leaverequest_delete') }}" title="Delete leave request" class="delete-leave-request" data-request="{{ leaveRequest.leaveRequestId }}" data-id="{{ id }}"
                       data-mlr="{% if leaveRequest.isMassLeaveRequest == true %}{{leaveRequest.isMassLeaveRequest}}{% else %}0{% endif %}" >
                        <i class="fa fa-trash-o fa-1x"></i>
                    </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    {% include 'OpitNotesCoreBundle:Shared:_emptyResult.html.twig' with { 'collection': leaveRequests } %}

    {% if numberOfPages is defined and numberOfPages > 0 %}
        {% include 'OpitNotesUserBundle:Shared:_pager.html.twig' with
            {
                'numberOfPages': numberOfPages,
                'maxNumberOfPages': maxPages,
                'offset': offset,
                'url': path('OpitNotesLeaveBundle_leave_list')
            }
        %}
    {% endif %}
</form>