{% extends 'OpitNotesUserBundle::layout.html.twig' %}
{% block title %}
        Leave request list - {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/opitnotesleave/js/list.js') }}" ></script>
{% endblock %}
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/notes_list.css') }}" />
{% endblock %}
{% block body %}
    <h1>Leave request list</h1>
    {% include 'OpitNotesLeaveBundle:Leave:_searchForm.html.twig' with { 'order_field': 'id' } %}
    <table>
        <tr>
            <td class="padding-0">
                <a href="{{ path('OpitNotesLeaveBundle_leave_show') }}"><button id="add" class="button"><i class="fa fa-plus-square fa-1x"></i>Add</button></a>
                <button id="delete" class="button delete button-disabled" disabled="disabled"><i class="fa fa-trash-o fa-1x"></i>Delete</button>
            </td>
        </tr>
    </table>
    <div id="list-reply-message"></div>
    <div id="leave_list">
        {% include 'OpitNotesLeaveBundle:Leave:_list.html.twig' %}
    </div>    
{% endblock %}