{% extends 'OpitNotesCoreBundle::layout.html.twig' %}
{% block title %}
        {% if true == isNewApplicant %}New{% else %}Edit{% endif %} applicant - {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@OpitNotesHiringBundle/Resources/public/js/applicant/showApplicant.coffee'
    output='js/opitnoteshiring/show_applicant.js' filter='?yui_js' %}
    <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@OpitNotesTravelBundle/Resources/public/css/module.scss'
    output='css/opitnoteshiring/show_applicant.css' filter='?yui_css,cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block body %}
    <h1>
        {% if true == isNewApplicant %}New{% else %}Edit{% endif %} applicant
    </h1>

    <div class="dialog-description default-border-radius">
        Applicants can be added or edited from here.
    </div>

    <div id="reply-message" class="alert-message error-message {% if 0 == errors|length %}display-none{% endif %}">
        <i class="fa fa-exclamation-triangle"></i> <strong>Error messages:</strong>
        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% set disabled = '' %}
    {% if 0 == isEditable %}
        {% set disabled='disabled' %}
    {% endif %}
    {{ form_start(form, {'method': 'POST', 'attr': {'id': 'applicantForm', 'class': disabled}}) }}
        <div class="formFieldset padding-bottom-5 margin-top-20 margin-bottom-20 padding-10">
                <div class="display-block margin-bottom-10">
                    {{ form_label(form.jobPositionAc) }}
                    {{ form_widget(form.jobPositionAc) }}
                    {{ form_widget(form.jobPosition) }}
                </div>
                <div class="display-block margin-bottom-10">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
                <div class="display-block margin-bottom-10">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
                <div class="display-block margin-bottom-10">
                    {{ form_label(form.phoneNumber) }}
                    {{ form_widget(form.phoneNumber) }}
                </div>
                <div class="display-block margin-bottom-10">
                    {{ form_label(form.keywords) }}
                    {{ form_widget(form.keywords) }}
                </div>
                <div class="display-block margin-bottom-10">
                    {{ form_label(form.applicationDate) }}
                    {{ form_widget(form.applicationDate) }}
                </div>
                <div class="display-block margin-bottom-10">
                    {{ form_label(form.cvFile) }}
                    {{ form_widget(form.cvFile) }}
                </div>
        </div>
        {{ form_widget(form._token) }}
        {{ form_widget(form.create_applicant) }}
        <a href="{{ path('OpitNotesHiringBundle_applicant_list') }}" id="cancel-button" class="button">Cancel</a>
    {{ form_end(form) }}
{% endblock %}