<table id="list-table">
    <tr>
        <th class="width-24-fix"><i class="fa fa-trash-o"></i></th>
        <th>ID</th>
        <th>Employee Name</th>
        <th>Departure date</th>
        <th>Arrival date</th>
        <th>Opportunity name</th>
        <th>Destinations</th>
        <th>Accomodations</th>
        <th></th>
    </tr>
    {% for travelRequest in travelRequests %}
    <tr class="clickableTableRow">
        <td><input type="checkbox" class="deleteMultipleTravelRequest" name="deleteMultipleTravelRequest[]" value="{{ travelRequest.id }}" /></td>
        <td class="clickable" data-tr-id='{{ travelRequest.id }}'>{{ travelRequest.travelRequestId }}</td>
        <td>{{ travelRequest.user.employeeName }}</td>
        <td>{{ travelRequest.departureDate|date('d  F  Y (D)') }}</td>
        <td>{{ travelRequest.arrivalDate|date('d  F  Y (D)') }}</td>
        <td>{{ travelRequest.opportunityName }}</td>
        <td>
            {{ travelRequest.destinations|length }}
        </td>
        <td>
            {{ travelRequest.accomodations|length }}
        </td>        
        <td>
            <a href="#" data-id="{{ travelRequest.id }}" class="deleteSingeTravelRequest"><i class="fa fa-trash-o"></i></a>
            <a href="{{ path('OpitNotesTravelBundle_travel_show', { 'id': travelRequest.id}) }}"><i class="fa fa-pencil-square-o"></i></a>
        </td>
    </tr>
    {% endfor %}
</table>