<form class="delete-checkbox-form">
    <table id="list-table" class="width-100">
        <thead>
            <tr>
                <th class="width-24-fix"><i class="fa fa-trash-o" title="Select/Deselect all"></i></th>
                <th>
                    <i class="fa fa-sort default-right" data-field="id"></i>
                    <span class="order-text cursor-pointer">ID</span>
                </th>
                <th>
                    <i class="fa fa-sort default-right" data-field="user"></i>
                    <span class="order-text cursor-pointer">Employee Name</span>
                </th>
                <th>
                    <i class="fa fa-sort default-right" data-field="departureDate"></i>
                    <span class="order-text cursor-pointer">Departure date</span>
                </th>
                <th>
                    <i class="fa fa-sort default-right" data-field="arrivalDate"></i>
                    <span class="order-text cursor-pointer">Arrival date</span>
                </th>
                <th>
                    <i class="fa fa-sort default-right" data-field="customerName"></i>
                    <span class="order-text cursor-pointer">Trip purpose</span>
                </th>
                <th>Travel request status</th>
                <th>Actions</th>
                <th>Travel expense</th>
            </tr>
        </thead>
        <tbody>
            {% for travelRequest in travelRequests %}
            {# check if travel request needs to be shown #}
            <tr class="clickableTableRow">
                <td><input type="checkbox" class="deleteMultiple" name="deleteMultiple[]" value="{{ travelRequest.id }}" /></td>
                <td class="clickable text-decoration-underline cursor-pointer" data-tr-id="{{ travelRequest.id }}">{{ travelRequest.travelRequestId }}</td>
                <td>{{ travelRequest.user.employee.employeeName }}</td>
                <td>{{ travelRequest.departureDate|date('d  F  Y (D)') }}</td>
                <td>{{ travelRequest.arrivalDate|date('d  F  Y (D)') }}</td>
                <td class="text-overflow-ellipsis overflow-hidden white-space-nowrap max-width-150 pointer trip-purpose cursor-pointer">{{ travelRequest.tripPurpose }}</td>
                <td>
                    {# loop through all statuses and display them in a dropdown #}
                    <select class="changeState{% if isLocked[travelRequest.id]['isStatusLocked'] == 1 %} dropdown-disabled{% endif %}" data-tr="{{ travelRequest.id }}"{% if isLocked[travelRequest.id]['isStatusLocked'] == 1 %} disabled="disabled"{% endif %}>
                    {% for key, value in travelRequestStates[travelRequest.id] %}
                        <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                    </select>
                </td>
                <td>
                    <a href="#" class="status-history" title="Status history">
                        <i class="fa fa-book" data-id="{{ travelRequest.id }}"></i>
                    </a>
                    {% if isLocked[travelRequest.id]['isTREditLocked'] == 0 %}
                        <a href="{{ path('OpitNotesTravelBundle_travel_show', { 'id': travelRequest.id}) }}" title="Edit travel request">
                            <i class="fa fa-pencil-square-o"></i>
                        </a>
                    {% else %}
                        <a href="{{ path('OpitNotesTravelBundle_travel_show', { 'id': travelRequest.id}) }}" title="View travel request">
                            <i class="fa fa-list-alt"></i>
                        </a>
                    {% endif %}

                    {% if is_granted('ROLE_GENERAL_MANAGER') or app.user.id == travelRequest.user.id %}
                        <a href="#" data-id="{{ travelRequest.id }}" class="deleteSingeTravelRequest" title="Delete travel request">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    {% else %}
                       <a href="#" class="icon-disabled"><i class="fa fa-trash-o"></i></a>
                    {% endif %}
                </td>
                <td>
                    {% if teIds is defined %}
                        {% if teIds[travelRequest.id].id == 'new' %}
                            {# if add travel expense action is not locked #}
                            {% if isLocked[travelRequest.id]['isAddTravelExpenseLocked'] == 0 %}
                            <a href="{{ path('OpitNotesTravelBundle_expense_show', { 'trId': travelRequest.id}) }}" class="small-button">
                                <i class="fa fa-plus-square fa-1x"></i>
                                <span>Add travel expense</span>
                            </a>
                            {% endif %}
                        {% else %}
                            {% set teStatus = teIds[travelRequest.id].status %}
                            {% set trEmployeeName = travelRequest.user.employee.employeeName %}
                            {% set appEmployeeName = app.user.employee.employeeName %}
                            {% if teStatus != states['Created'] or (trEmployeeName == appEmployeeName) or is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('OpitNotesTravelBundle_expense_show', { 'id': travelRequest.travelExpense.id, 'trId': travelRequest.id}) }}" class="small-button">
                                    <i class="fa {% if (teStatus == states['Created'] or teStatus == states['Revise']) and (trEmployeeName == appEmployeeName or is_granted('ROLE_ADMIN')) %} fa-pencil-square-o {% else %} fa-list-alt {% endif %}"></i>
                                    <span>{% if (teStatus == states['Created'] or teStatus == states['Revise']) and (trEmployeeName == appEmployeeName or is_granted('ROLE_ADMIN')) %} Edit {% else %} Preview {% endif %} - {{ teIds[travelRequest.id].statusName }}</span>
                                </a>
                                {% if teStatus == states['Approved'] or teStatus == states['For Approval'] %}
                                <a href="{{ path('OpitNotesTravelBundle_expense_view', { 'id': teIds[travelRequest.id].id }) }}" class="small-button print-view">
                                    <i class="fa fa-print"></i>
                                    <span>Print</span>
                                </a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {# Display a no results message #}
    {% include 'OpitNotesCoreBundle:Shared:_emptyResult.html.twig' with { 'collection': travelRequests } %}

    {% if numberOfPages is defined and numberOfPages > 0 %}
        {% include 'OpitNotesUserBundle:Shared:_pager.html.twig' with
            {
                'numberOfPages': numberOfPages,
                'maxNumberOfPages': maxPages,
                'offset': offset,
                'url': path('OpitNotesTravelBundle_travel_list')
            }
        %}
    {% endif %}
</form>