<form>
<table id="list-table">
    <tr>
        <th class="width-24-fix"><i class="fa fa-trash-o"></i></th>
        {% set orderIcon %}
            <i class="fa fa-sort default-right"></i>
        {% endset %}
        <th>{{ orderIcon }}ID</th>
        <th>{{ orderIcon }}Employee Name</th>
        <th>{{ orderIcon }}Departure date</th>
        <th>{{ orderIcon }}Arrival date</th>
        <th>{{ orderIcon }}Opportunity name</th>
        <th>{{ orderIcon }}Destinations</th>
        <th>{{ orderIcon }}Accomodations</th>
        <th>Actions</th>
    </tr>
    {% for travelRequest in travelRequests %}
    <tr class="clickableTableRow">
        <td><input type="checkbox" class="deleteMultipleTravelRequest" name="deleteMultipleTravelRequest[]" value="{{ travelRequest.id }}" /></td>
        <td class="clickable" data-tr-id='{{ travelRequest.id }}'>{{ travelRequest.travelRequestId }}</td>
        <td>{{ travelRequest.user.employeeName }}</td>
        <td>{{ travelRequest.departureDate|date('d  F  Y (D)') }}</td>
        <td>{{ travelRequest.arrivalDate|date('d  F  Y (D)') }}</td>
        <td>{{ travelRequest.opportunityName }}</td>
        <td>
            {{ travelRequest.destinations|length }}
        </td>
        <td>
            {{ travelRequest.accomodations|length }}
        </td>
        <td>
            {% if is_granted('ROLE_ADMIN') or is_granted('DELETE', travelRequest) %}
            <a href="#" data-id="{{ travelRequest.id }}" class="deleteSingeTravelRequest"><i class="fa fa-trash-o"></i></a>
            {% endif %}
            <a href="{{ path('OpitNotesTravelBundle_travel_show', { 'id': travelRequest.id}) }}"><i class="fa fa-pencil-square-o"></i></a>
        </td>
    </tr>
    {% endfor %}
</table>
</form>