<form class="delete-checkbox-form">
<table id="list-table">
    <tr>
        <th class="width-24-fix"><i class="fa fa-trash-o" title="Select/Deselect all"></i></th>
        <th>
            <i class="fa fa-sort default-right" data-field="id"></i>
            <span class="order-text">ID</span>
        </th>
        <th>
            <i class="fa fa-sort default-right" data-field="user"></i>
            <span class="order-text">Employee Name</span>
        </th>
        <th>
            <i class="fa fa-sort default-right" data-field="departureDate"></i>
            <span class="order-text">Departure date</span>
        </th>
        <th>
            <i class="fa fa-sort default-right" data-field="arrivalDate"></i>
            <span class="order-text">Arrival date</span>
        </th>
        <th>
            <i class="fa fa-sort default-right" data-field="opportunityName"></i>
            <span class="order-text">Opportunity name</span>
        </th>
        <th>Travel claim</th>
        <th>Travel request status</th>
        <th>Actions</th>
    </tr>
    {% for i, travelRequest in travelRequests %}
    {# check if travel request needs to be shown #}
    {#{% if hideTravelRequest[i] == 0 %}#}
    <tr class="clickableTableRow">
        <td><input type="checkbox" class="deleteMultipleTravelRequest" name="deleteMultipleTravelRequest[]" value="{{ travelRequest.id }}" /></td>
        <td class="clickable" data-tr-id='{{ travelRequest.id }}'>{{ travelRequest.travelRequestId }}</td>
        <td>{{ travelRequest.user.employeeName }}</td>
        <td>{{ travelRequest.departureDate|date('d  F  Y (D)') }}</td>
        <td>{{ travelRequest.arrivalDate|date('d  F  Y (D)') }}</td>
        <td>{{ travelRequest.opportunityName }}</td>
        <td>
            {% if teIds is defined %}
                {% if teIds[i].id == 'new' %}
                    {# if all actions are not locked #}
                    {% if isLocked[i]['allActionsLocked'] == 0 %}
                        {# if add travel expense action is not locked #}
                        {% if isLocked[i]['isAddTravelExpenseLocked'] == 0 %}
                        <a href="{{ path('OpitNotesTravelBundle_expense_show', { 'trId': travelRequest.id}) }}" class="small-button">
                            <i class="fa fa-plus-square fa-1x"></i>
                            <span>Add travel expense</span>
                        </a>
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% set expenseButton %}
                        <a href="{{ path('OpitNotesTravelBundle_expense_show', { 'id': teIds[i].id, 'trId': travelRequest.id}) }}" class="small-button">
                            <i class="fa {% if teIds[i].status == 4 or teIds[i].status == 5 %} fa-list-alt {% else%} fa-pencil-square-o {% endif %}"></i>
                            <span>{% if teIds[i].status == 4 or teIds[i].status == 5 %} Preview {% else%} Edit {% endif %} travel expense</span>
                        </a>
                    {% endset%}
                    {{ expenseButton}}
                    <a href="{{ path('OpitNotesTravelBundle_expense_view', { 'id': teIds[i].id }) }}" class="small-button print-view">
                        <i class="fa fa-print"></i>
                        <span>Print view</span>
                    </a>
                {% endif %}
            {% endif %}
        </td>
        <td>
            {# is statuses can be edited #}
            {% if isLocked[i]['isStatusLocked'] == 0 %}
                {# loop through all statuses and display them in a dropdown #}
                <select class="changeState">
                {% for key, value in travelRequestStates[i] %}
                    <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
                </select>
            {% else %}
                <select class="changeState dropdown-disabled" disabled="disabled">
                    <option>{{ currentStatusNames[i] }}</option>
                </select>
            {% endif %}
        </td>
        <td>
            {#{{ dump(isLocked[i]) }}#}
            {% set viewTR %}
                <a href="{{ path('OpitNotesTravelBundle_travel_show', { 'id': travelRequest.id}) }}" title="View travel request">
                    <i class="fa fa-list-alt"></i>
                </a>            
            {% endset %}
            
            {% set editTR %}
                <a href="{{ path('OpitNotesTravelBundle_travel_show', { 'id': travelRequest.id}) }}" title="Edit travel request">
                    <i class="fa fa-pencil-square-o"></i>
                </a>                
            {% endset %}
            
            {% set deleteTR %}
                <a href="#" data-id="{{ travelRequest.id }}" class="deleteSingeTravelRequest" title="Delete travel request">
                    <i class="fa fa-trash-o"></i>
                </a>                
            {% endset %}
            
            <a href="#" class="status-history" title="Status history"><i class="fa fa-book" data-id="{{ travelRequest.id }}"></i></a>
            {% if isLocked[i]['allActionsLocked'] == 0 %}
                {% if isLocked[i]['isEditLocked'] == 0 %}
                   {{ editTR }}
                {% else %}
                   {{ viewTR }}
                {% endif %}
            {% else %}
               {{ viewTR }}
            {% endif %}
            {% if is_granted('ROLE_ADMIN') or is_granted('DELETE', travelRequest) %}
               {{ deleteTR }}
            {% else %}
               <a href="#" class="icon-disabled"><i class="fa fa-trash-o"></i></a>
            {% endif %}
        </td>        
    </tr>
    {% endfor %}
</table>
{% if numberOfPages is defined and numberOfPages > 0 %}
{% include 'OpitNotesUserBundle:Shared:_pager.html.twig' with
    {
        'numberOfPages': numberOfPages,
        'maxNumberOfPages': maxPages,
        'offset': offset,
        'url': path('OpitNotesTravelBundle_travel_list')
    }
%}
{% endif %}
</form>