<form>
<table id="list-table">
    <tr>
        <th class="width-24-fix"><i class="fa fa-trash-o" title="Select/Deselect all"></i></th>
        {% set orderIcon %}
            <i class="fa fa-sort default-right"></i>
        {% endset %}
        <th>{{ orderIcon }}ID</th>
        <th>{{ orderIcon }}Employee Name</th>
        <th>{{ orderIcon }}Departure date</th>
        <th>{{ orderIcon }}Arrival date</th>
        <th>{{ orderIcon }}Opportunity name</th>
        <th>{{ orderIcon }}Destinations</th>
        <th>{{ orderIcon }}Accomodations</th>
        <th>Actions</th>
        <th>Travel claim</th>
        <th>Travel request status</th>
    </tr>
    {% for i, travelRequest in travelRequests %}
    {# check if travel request needs to be shown #}
    {#{% if hideTravelRequest[i] == 0 %}#}
    <tr class="clickableTableRow">
        <td><input type="checkbox" class="deleteMultipleTravelRequest" name="deleteMultipleTravelRequest[]" value="{{ travelRequest.id }}" /></td>
        <td class="clickable" data-tr-id='{{ travelRequest.id }}'>{{ travelRequest.travelRequestId }}</td>
        <td>{{ travelRequest.user.employeeName }}</td>
        <td>{{ travelRequest.departureDate|date('d  F  Y (D)') }}</td>
        <td>{{ travelRequest.arrivalDate|date('d  F  Y (D)') }}</td>
        <td>{{ travelRequest.opportunityName }}</td>
        <td>
            {{ travelRequest.destinations|length }}
        </td>
        <td>
            {{ travelRequest.accomodations|length }}
        </td>
        <td>
            {# if all actions are not locked #}
            {% if isLocked[i]['allActionsLocked'] == 0 %}
                {# if edit action is not locked #}
                {% if isLocked[i]['isEditLocked'] == 0 %}
                <a href="{{ path('OpitNotesTravelBundle_travel_show', { 'id': travelRequest.id}) }}" title="Edit travel request"><i class="fa fa-pencil-square-o"></i></a>
                {% endif %}
            {% endif %}
            {% if is_granted('ROLE_ADMIN') or is_granted('DELETE', travelRequest) %}
            <a href="#" data-id="{{ travelRequest.id }}" class="deleteSingeTravelRequest" title="Delete travel request"><i class="fa fa-trash-o"></i></a>
            {% endif %}
        </td>
        <td>
            {% if teIds is defined %}
                {% if teIds[i] == 'new' %}
                    {# if all actions are not locked #}
                    {% if isLocked[i]['allActionsLocked'] == 0 %}
                        {# if add travel expense action is not locked #}
                        {% if isLocked[i]['isAddTravelExpenseLocked'] == 0 %}
                        <a href="{{ path('OpitNotesTravelBundle_expense_show', { 'tr': travelRequest.id}) }}" class="small-button">
                            <i class="fa fa-plus-square fa-1x"></i>
                            <span>Add travel expense</span>
                        </a>
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if isLocked[i]['isTravelExpenseLocked'] == 0 %}
                    <a href="{{ path('OpitNotesTravelBundle_expense_show', { 'id': teIds[i], 'tr': travelRequest.id}) }}" class="small-button">
                        <i class="fa fa-pencil-square-o"></i>
                        <span>Edit travel expense</span>
                    </a>
                    <a href="{{ path('OpitNotesTravelBundle_expense_view', { 'id': teIds[i] }) }}" class="small-button print-view">
                        <i class="fa fa-pencil-square-o"></i>
                        <span>View travel expense</span>
                    </a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </td>
        <td>
            {# is statuses can be edited #}
            {% if isLocked[i]['isStatusLocked'] == 0 %}
                {# loop through all statuses and display them in a dropdown #}
                <select class="changeState">
                {% for key, value in travelRequestStates[i] %}
                    <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
                </select>
            {% else %}
                <select class="changeState dropdown-disabled" disabled="disabled">
                    <option>{{ currentStatusNames[i] }}</option>
                </select>
            {% endif %}
        </td>
    </tr>
    {#{% endif %}#}
    {% endfor %}
</table>
</form>