{% extends 'OpitNotesUserBundle::layout.html.twig' %}
{% block stylesheets %}
    {% stylesheets
        '../app/Resources/public/css/list.css'
        '@OpitNotesTravelBundle/Resources/public/css/module.css'
    output='css/opitnotestravel/list.css' filter='?yui_css,cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block title %}
        Travel request list - {{ parent() }}
{% endblock %}
{% block body %}
<h1>Travel request list</h1>
{% include 'OpitNotesTravelBundle:Travel:_searchForm.html.twig' with { 'order_field': 'id' } %}
<table>
    <tr>
        <td class="padding-0">
            <a href="{{ path('OpitNotesTravelBundle_travel_show') }}"><button id="add" class="button"><i class="fa fa-plus-square fa-1x"></i>Add</button></a>
            <button id="delete" class="button delete"><i class="fa fa-trash-o fa-1x"></i>Delete</button>
        </td>
    </tr>
</table>
<div id="list-reply-message"></div>
<div id="travel_list">
    {% include 'OpitNotesTravelBundle:Travel:_list.html.twig' %}
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@OpitNotesTravelBundle/Resources/public/js/list.js'
    output='js/opitnotestravel/te_list.js' filter='?yui_js' %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}