<div id="dialog-details-travel">
    <h2 class="dialog-h2">Travel Request Details</h2>
    <div class="modalwindow">
        <table class="bordered width-100 table-layout-fixed">
            <caption class="dialog-table-title">General</caption>
            {% if travelRequest.travelRequestId is defined %}
                <tr>
                    <td class="bgGrey width-40 bold">Id</td>
                    <td>{{ travelRequest.travelRequestId }}</td>
                </tr>
            {% endif %}
            <tr>
                <td class="bgGrey bold">Employee Name</td>
                {% if travelRequest.user.employeeName is defined %}
                <td>{{ travelRequest.user.employeeName }}</td>
                {% endif %}
            </tr>
            <tr>
                <td class="bgGrey bold">Departure date</td>
                <td>{{ travelRequest.departureDate|date('d  F  Y (D)') }}</td>
            </tr>
            <tr>
                <td class="bgGrey bold">Arrival date</td>
                <td>{{ travelRequest.arrivalDate|date('d  F  Y (D)') }}</td>
            </tr>
            <tr>
                <td class="bgGrey bold">Trip purpose</td>
                <td class="text-show-all">{{ travelRequest.tripPurpose }}</td>
            </tr>
            <tr>
                <td class="bgGrey bold">Customer related</td>
                <td>
                    {% if travelRequest.customerRelated == 0%}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="bgGrey bold">Customer name</td>
                <td>
                    {% if travelRequest.customerName is empty %}
                        [Empty]
                    {% else %}
                        {{ travelRequest.customerName }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="bgGrey bold">Team Manager</td>
                <td>
                    {% if travelRequest.teamManager is null %}
                        [Empty]
                    {% else %}
                        {{ travelRequest.teamManager.employeeName }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="bgGrey bold">General Manager</td>
                <td>{{ travelRequest.generalManager.employeeName }}</td>
            </tr>
        </table>
        {% if travelRequest.destinations is defined %}
        {% if travelRequest.destinations|length > 0 %}  
        <table class="bordered">
            <caption class="dialog-table-title padding-5 color-white background-color-orange margin-top-5">Destination</caption>
            {% for dest in travelRequest.destinations %}
            <tr>
                <td class="bgGrey bold width-40">Name</td>
                <td>{{ dest.name }}</td>
                <td class="width-24-fix align-center" rowspan="3">{{ loop.index }}</td>
            </tr>
            <tr>
                <td class="bgGrey bold">Cost</td>
                <td>
                    {% if 'HUF' == dest.currency.code %}
                        {{ dest.cost|round|number_format(0, '', currencyFormat.thousands_sep) ~ ' ' ~ dest.currency.code }}
                    {% else %}
                        {{ dest.cost|number_format(currencyFormat.decimals, currencyFormat.dec_point, currencyFormat.thousands_sep) ~ ' ' ~ dest.currency.code }}
                    {% endif %}
                </td>
            </tr>
            <tr {% if loop.last == false %} class="dialog-table-tr-seperator"{% endif %}>
                <td class="bgGrey bold">Transportation type</td>
                <td>{{ dest.transportationType.name }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% endif %}
        
        {% if travelRequest.accomodations is defined %}
            {% if travelRequest.accomodations|length > 0 %}
            <table class="bordered">
                <caption class="dialog-table-title">Accomodation</caption>
                {% for accom in travelRequest.accomodations %}
                <tr>
                    <td  class="bgGrey bold width-40">Hotel name</td>
                    <td>{{ accom.hotelName }}</td>
                    <td class="width-24-fix align-center" rowspan="4">{{ loop.index }}</td>
                </tr>
                <tr>
                    <td class="bgGrey bold">City</td>
                    <td>{{ accom.city }}</td>
                </tr>
                <tr>
                    <td class="bgGrey bold">Number of nights</td>
                    <td>{{ accom.numberOfNights }}</td>
                </tr>
                <tr{% if loop.last == false %} class="dialog-table-tr-seperator"{% endif %}>
                    <td class="bgGrey bold">Cost</td>
                    <td>
                        {% if 'HUF' == accom.currency.code %}
                            {{ accom.cost|round|number_format(0, '', currencyFormat.thousands_sep) ~ ' ' ~ accom.currency.code }}
                        {% else %}
                            {{ accom.cost|number_format(currencyFormat.decimals, currencyFormat.dec_point, currencyFormat.thousands_sep) ~ ' ' ~ accom.currency.code }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}            
            </table>
            {% endif %}
        {% endif %}
        
        <table class="bordered">
            <caption class="dialog-table-title">Estimated total costs</caption>
            <tr>
                <td class="bgGrey bold width-40">HUF</td>
                <td>{{ estimatedCostsHUF|round|number_format(0, '', currencyFormat.thousands_sep) }}</td>
            </tr>
            <tr>
                <td class="bgGrey bold width-40">EUR</td>
                <td>{{ estimatedCostsEUR|number_format(currencyFormat.decimals, currencyFormat.dec_point, currencyFormat.thousands_sep) }}</td>
            </tr>
        </table>
    </div>
</div>