{% extends 'OpitNotesUserBundle::layout.html.twig' %}
{% block title %}
        {% if travelRequest.id is empty or travelRequest.id == 'new' %}
        New travel request
        {% else %}
        Edit travel request
        {% endif %}
        - {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/opitnotestravel/js/showTravelRequest.js') }}" ></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/opitnotestravel/css/showTravelRequest.css') }}" />
{% endblock %}        
        
{% block body %}
    <h1>
        {% if travelRequest.id is empty or travelRequest.id == 'new' %}
        New Travel Request
        {% else %}
        Edit Travel Request ({{ travelRequest.travelRequestId }})
        {% endif %}
    </h1>

    <div id="changeStateWrapper">
        <h3>Change status:</h3>
        {% if isStatusLocked == '0' %}
        <select data-tr="{{ travelRequest.id }}" class="changeState">
            {% for key, value in travelRequestStates %}
            <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
        {% else %}
        <select class="changeState dropdown-disabled" disabled="disabled">
            <option>{{ travelRequestStates|first }}</option>
        </select>
        {% endif %}
    </div>

    <div class="modal-description default-border-radius">
        Travel request can be added or edited from here.
    </div>
    
    {% if form_errors(form)|length > 0 %}
    <div class="alert-message error-message">
        <i class='fa fa-exclamation-triangle'></i> <strong>Error messages:</strong>
        {{ form_errors(form) }}
    </div>
    {% endif %}
    {% if isEditLocked == '1' %}
        {% set disabled = 'disabled' %}
    {% else %}
        {% set disabled = '' %}
    {% endif %}
        {{ form(form, {
            'action': (path('OpitNotesTravelBundle_travel_show', { 'id': app.request.get('id')})),
            'method': 'POST',
            'attr':{'id': 'travelRequestForm', 'class': disabled}
           })
        }}    
{% endblock %}
