{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 
        '@OpitNotesUserBundle/Resources/public/css/main.css'
        '@OpitNotesUserBundle/Resources/public/css/list.css'
        '@OpitNotesUserBundle/Resources/public/css/search.css'
    output='css/notes_main.css' filter='?yui_css,cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}           
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js'
        '//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/additional-methods.min.js'
        '@OpitNotesUserBundle/Resources/public/js/search.js'
    output='js/notes_main.js' filter='?yui_js' %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}
{% block header %}
    <header>
        <a href="{{ path('OpitNotesTravelBundle_travel_list') }}" id="siteLogo">
            <span>NOTES</span>
            <span>New OPIT Travel Expense System</span>
        </a>
        <a href="{{ path('OpitNotesUserBundle_logout') }}" id="logoutButton">logout <i class="fa fa-sign-out"></i></a>
        <div id="loggedInUser" class="pointer header-tab">
            <span data-user-id="{{app.user.id}}">{{ app.user.username }} <i class="fa fa-cog"></i></span>
        </div>
        <div id="changePassword" class="pointer header-tab" data-user-id="{{ app.user.id }}">
            <span class="list-change-password clickable no-text-decoration" title="Reset password">
               <i class="fa fa-key"></i>
            </span>
        </div>
        <div id="notifications">
            <i class="fa fa-globe"></i>
            <div class="round-border absolute display-none" id="unread-notifications-count"></div>
            <div id="notifications-wrapper" class="display-none"></div>
        </div>
        <div id="menuWrapper">
            {% include 'OpitNotesUserBundle:Shared:_menu.html.twig' %}
        </div>
    </header>
{% endblock %}
{% block body %}{% endblock %}