<div class="notification-type-title">Travel request</div>
{% if '0' == travelRequests|length %}
<h5>
    You have no travel request notifications.
</h5>
{% endif %}
{% for travelRequest in travelRequests %}
    <div class="notification {% if 2 == travelRequest.read.id %}unread{% endif %}">
        <div class="notification-header">
            <div class="notification-header-datetime">
                {{ travelRequest.dateTime|date('Y-m-d H:i:s') }}
            </div>
            <div class="notification-header-delete">
                <i class="fa fa-trash-o" data-id="{{ travelRequest.id }}"></i>
            </div>
        </div>
        <div class="notification-message">
            {% set msg = travelRequest.message %}
            {{ msg }}
            {% if 'approved' not in msg and 'rejected' not in msg %}
            <a class="notification-details" data-id="{{ travelRequest.id }}"
               href="{{ path('OpitNotesTravelBundle_travel_show', { 'id': travelRequest.travelRequest.id}) }}"> details</a>
            {% endif %}
        </div>
    </div>
{% endfor %}
<div class="notification-type-title">Travel expense</div>
{% if '0' == travelExpenses|length %}
<h5>
    You have no travel expense notifications.
</h5>
{% endif %}
{% for travelExpense in travelExpenses %}
    <div class="notification {% if 2 == travelExpense.read.id %}unread{% endif %}">
        <div class="notification-header">
            <div class="notification-header-datetime">
                {{ travelExpense.dateTime|date('Y-m-d H:i:s') }}
            </div>
            <div class="notification-header-delete">
                <i class="fa fa-trash-o" data-id="{{ travelExpense.id }}"></i>
            </div>
        </div>
        <div class="notification-message">
            {% set msg = travelExpense.message %}
            {{ msg }}
            {% if 'approved' not in msg and 'rejected' not in msg %}
            <a class="notification-details" data-id="{{ travelExpense.id }}"
               href="{{ path('OpitNotesTravelBundle_expense_show', { 'id': travelExpense.travelExpense.id}) }}?tr={{ travelExpense.travelExpense.travelRequest.id }}"> details</a>
            {% endif %}
        </div>
    </div>
{% endfor %}