{% if travelRequestStates|length > 0 %}
    {% set isNotEmptyTR = true %}
{% else %}
    {% set isNotEmptyTR = false %}
{% endif %}
{% if travelExpenseStates|length > 0 %}
    {% set isNotEmptyTE = true %}
{% else %}
    {% set isNotEmptyTE = false %}
{% endif %}

<div id="dialog-details-travel">
{% if isNotEmptyTE or isNotEmptyTR %}

    {% set title = 'Status history for '%}
    {% if isNotEmptyTR and isNotEmptyTE %}
        {% set title = title ~ 'travel request and expense'%}
    {% elseif isNotEmptyTE %}
        {% set title = title ~ 'travel expense'%}
    {% elseif isNotEmptyTR %}
        {% set title = title ~ 'travel request'%}
    {% endif %}
    
    <h2 class="dialog-h2">{{ title }}</h2>
    {% if isNotEmptyTR %}
        <div class="modalwindow margin-bottom-10">
            <table class="bordered">
            <caption class="dialog-table-title">Travel request history</caption>
            {% for travelRequestState in travelRequestStates %}
                <tr>
                    <td class="width-30">{{ travelRequestState.status.name }}</td>
                    <td class="width-30">{{ travelRequestState.created|date('Y-m-d H:i') }}</td>
                    <td>{{ travelRequestState.createdUser is empty ? '--' : travelRequestState.createdUser.employeeName }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    {% endif %}
    {% if isNotEmptyTE %}
        <div class="modalwindow">
            <table class="bordered">
            <caption class="dialog-table-title">Travel expense history</caption>
            {% for travelExpenseState in travelExpenseStates %}
                <tr>
                    <td class="width-30">{{ travelExpenseState.status.name }}</td>
                    <td class="width-30">{{ travelExpenseState.created|date('Y-m-d H:i') }}</td>
                    <td>{{ travelExpenseState.createdUser is empty ? '--' : travelExpenseState.createdUser.employeeName }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    {% endif %}
{% else %}
    <h2>There is no status history</h2>
{% endif %}
</div>
    