<div id="{{ fieldName }}Form" class="display-none">
    <div id="reply-message" class="alert-message error-message">
        <i class="fa fa-exclamation-triangle"></i> <strong>Error messages:</strong>
        <ul>
            <li>{{ fieldLabel }} can not be blank.</li>
        </ul>
    </div>
    <div id="dialog-edititem">
        <h2 class="dialog-h2 hidden"></h2>
        <div class="dialog-description"></div>
        <div class="modalwindow default-border height-auto overflow-hidden">
            <div class="wdith-medium">
                <div class="vertical-align-top item-input-box-header float-left height-20 color-white background-section-color-grey bold padding-4">
                    <label class="margin-top-2 inlineElements" for="expenseType">{{ fieldLabel }}: </label>
                </div>
                <div class="vertical-align-top item-input-box float-left height-60 margin-bottom-10 padding-3">
                    <input class="inlineElements {{ fieldName }}Field" type="text" id="{{ fieldName }}" name="{{ fieldName }}" placeholder="{{ fieldLabel }}" />
                </div>
            </div>
        </div>
    </div>
</div>