<form  class="delete-checkbox-form">
<table id="list-table">
    {% if propertyNames is defined %}
        <th class="width-24-fix"><i class="fa fa-trash-o fa-1x" title="Select/Deselect all"></i></th>
        {% for propertyName in propertyNames %}
        <th>
            <i class="fa fa-sort default-right"></i>
            {{ propertyName|underscore|humanize }}
        </th>
        {% endfor %}
        {% if numberOfRelations is defined %}
        <th>Assigned Users</th>
        {% endif %}
        <th><span>Actions</span></th>
        {% for key,value in propertyValues %}
            <tr>
                <td class="width-24-fix">
                    {% if attribute(value, 'Role') is defined %}
                        {% if attribute(value, 'Role') == 'ROLE_ADMIN' or attribute(value, 'Role') == 'ROLE_USER' %}
                            <i class="fa fa-cog darker-gray-color" title="System role"></i>
                        {% else %}
                            <input name="delete-user[]" {% if attribute(value, 'id') in disabledRoles %}disabled{% endif %} type="checkbox" class="list-delete-user" value="{{ key }}" >
                        {% endif %}
                    {% else %}
                        <input name="delete-user[]" type="checkbox" class="list-delete-user" value="{{ key }}" >
                    {% endif %}
                </td>
            {% for propertyName in propertyNames %}
                {% if propertyName == 'roles' %}
                    <td>
                        {{ attribute(value, propertyName)|join(', ') }}
                    </td>
                {% elseif propertyName == 'username' %}
                    <td >
                        <span class="list-username clickable" data-user-id="{{ key }}">
                            {{ attribute(value, propertyName)|join(', ') }}
                        </span>
                    </td>
                {% elseif propertyName == 'isActive' %}
                    {% if attribute(value, propertyName) == 1 %}
                        <td>Active</td>
                    {% else %}
                        <td>Inactive</td>
                    {% endif %}
                {% else %}
                    <td>{{ attribute(value, propertyName) }}</td>
                {% endif %}
            {% endfor %}
                {% if numberOfRelations is defined %}
                <td>
                    {{ numberOfRelations[attribute(value, 'id')] }}
                </td>
                {% endif %}
                <td>
                    {% if hideReset is not defined %}
                    <span class="list-change-password clickable no-text-decoration" data-user-id="{{ key }}" title="Reset password">
                       <i class="fa fa-key"></i>
                    </span>
                    {% endif %}
                    {% set title %}
                        {% if 'groups' in app.request.attributes.get('_route') %}
                            role
                        {% else %}
                            user
                        {% endif %}
                    {% endset %}
                    {% set actionIcons %}
                        <span class="list-username clickable no-text-decoration edit-group" data-user-id="{{ key }}" title="Edit {{ title|trim }}">
                           <i class="fa fa-pencil-square-o"></i>
                        </span>
                        <span class="delete-single-user clickable no-text-decoration remove-group" data-user-id="{{ key }}" title="Delete {{ title|trim }}">
                           <i class="fa fa-trash-o"></i>
                        </span>
                    {% endset %}
                    
                    {% if attribute(value, 'Role') is defined %}
                        {% if attribute(value, 'Role') != 'ROLE_ADMIN' and
                            attribute(value, 'Role') != 'ROLE_USER' and
                            attribute(value, 'id') not in disabledRoles %}
                            {{ actionIcons }}
                        {% endif %}
                    {% else %}
                        {{ actionIcons }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endif %}
</table>
</form>
