{# must return the controller name #}
{% set module = splitText(app.request.attributes.get('_route'), '_', 1) %}
<nav class="menu float-left">
    <div>
    {% if is_granted('ROLE_ADMIN') %}
    <div class="mainMenu{{ (module == 'admin') ? ' active' : '' }}">
        Admin
        <div class="subMenu">
            <div class="subMenuItem">
                <a href="#" class='dropdown'>User</a>
                <ul>
                    <li><a href='{{ path('OpitNotesUserBundle_admin_groups_list') }}'>Role management</a></li>
                    <li><a href="{{ path('OpitNotesUserBundle_admin_list_jobtitle') }}">Job title management</a></li>
                </ul>
            </div>
            <div class="subMenuItem">
                <a href="#" class='dropdown'>Travel</a>
                <ul>
                    <li><a href='{{ path('OpitNotesUserBundle_admin_travelexpensetype_list') }}'>Travel expense type</a></li>
                    <li><a href='{{ path('OpitNotesUserBundle_admin_list_perdiem') }}'>Per diem management</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mainMenu {{ (module == 'user') ? 'active' : '' }}" id="userMenuTab">
        Users
        <div class="subMenu">
            <div class="subMenuItem">
                <a href="{{ path('OpitNotesUserBundle_user_list') }}">List</a>
            </div>
        </div>
    </div>
    {% endif %}
    {# TravelBundle #}
    <div class="mainMenu {{ (module == 'travel' or module == 'expense') ? 'active': '' }}">
        Travel
        <div class="subMenu">
        <div class="subMenuItem">
            <a href="#" class='dropdown'>Request</a>
            <ul>
                <li><a href='{{ path('OpitNotesTravelBundle_travel_show') }}'>Create</a></li>
                <li><a href="{{ path('OpitNotesTravelBundle_travel_list') }}">List</a></li>
            </ul>
        </div>
        </div>
    </div>
    <div class="mainMenu {{ (module == 'default') ? 'active' : '' }}">
        <a href='{{ path('OpitNotesUserBundle_default_versions') }}' class="text-decoration-none">Version History</a>
    </div>
</nav>
<nav class="menu float-left"></nav>