{# must return the controller name #}
{% set module = splitText(app.request.attributes.get('_route'), '_', 1) %}
<nav class="menu float-left">
    <div>
    {% if is_granted('ROLE_ADMIN') %}
    <div class="mainMenu{{ (module == 'admin') ? ' active' : '' }}">
        Admin
        <div class="subMenu">
            <div class="subMenuItem">
                <a href="#" class='dropdown'>User management</a>
                <ul>
                    <li><a href='{{ path('OpitNotesUserBundle_admin_groups_list') }}'>Roles</a></li>
                    <li><a href="{{ path('OpitNotesUserBundle_admin_list_jobtitle') }}">Job titles</a></li>
                    <li><a href="{{ path('OpitNotesUserBundle_admin_teams_list') }}">Teams</a></li>
                </ul>
            </div>
            <div class="subMenuItem">
                <a href="#" class='dropdown'>Travel management</a>
                <ul>
                    <li><a href='{{ path('OpitNotesUserBundle_admin_travelexpensetype_list') }}'>Expense types</a></li>
                    <li><a href='{{ path('OpitNotesUserBundle_admin_list_perdiem') }}'>Per diem</a></li>
                </ul>
            </div>
            <div class="subMenuItem">
                <a href="#" class='dropdown'>Leave management</a>
                <ul>
                    <li><a href='{{ path('OpitNotesLeaveBundle_admin_list_leave_categories') }}'>Leave categories</a></li>
                    <li><a href='{{ path('OpitNotesLeaveBundle_admin_list_leave_dates') }}'>Administrative Leaves/Working Days</a></li>
                    <li><a href='{{ path('OpitNotesLeaveBundle_admin_list_leave_types') }}'>Administrative Leaves/Working Days Types</a></li>
                    <li><a href='{{ path('OpitNotesLeaveBundle_admin_list_leave_settings') }}'>Leave settings configuration</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mainMenu {{ (module == 'user') ? 'active' : '' }}" id="userMenuTab">
        Users
        <div class="subMenu">
            <div class="subMenuItem">
                <a href="{{ path('OpitNotesUserBundle_user_list') }}">List</a>
            </div>
        </div>
    </div>
    {% endif %}
    {# TravelBundle #}
    <div class="mainMenu {{ (module == 'travel' or module == 'expense') ? 'active': '' }}">
        Travel
        <div class="subMenu">
        <div class="subMenuItem">
            <a href="#" class='dropdown'>Request</a>
            <ul>
                <li><a href='{{ path('OpitNotesTravelBundle_travel_show') }}'>Create</a></li>
                <li><a href="{{ path('OpitNotesTravelBundle_travel_list') }}">List</a></li>
            </ul>
        </div>
        </div>
    </div>
    <div class="mainMenu {{ (module == 'leave') ? 'active': '' }}">
        Leave
        <div class="subMenu">
        <div class="subMenuItem">
            <a href='{{ path('OpitNotesLeaveBundle_leave_show') }}'>Create request</a>
        </div>
        <div class="subMenuItem">
            <a href='{{ path('OpitNotesLeaveBundle_leave_list') }}'>List request</a>
        </div>
        </div>
    </div>
    <!--
    <div class="mainMenu {{ (module == 'default') ? 'active' : '' }}">
        Version History
        <div class="subMenu">
        <div class="subMenuItem">
            <a href='{{ path('OpitNotesUserBundle_default_versions') }}'>
                v{% if version_number is defined %}{{ version_number }}{% else %}1.0{% endif %}
            </a>
        </div>
        </div>
    </div>
    -->
</nav>
<nav class="menu float-left"></nav>