<section id="pager" data-pages="{{ numberOfPages }}" data-url="{{ url }}" data-max="{{ maxPages }}" data-offset="{{ offset }}">
    <i class="fa fa-caret-left"></i>
    {% for pageNumber in 1..numberOfPages %}
        {% if loop.index < maxPages+1 %}
        <span data-offset="{{ loop.index }}">{{ loop.index }}</span>
        {% endif %}
    {% endfor %}
    <i class="fa fa-caret-right"></i>
</section>