{% extends '::base.html.twig' %}
{% block title %}
        {{ jobPosition.jobTitle }} application form
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@OpitNotesHiringBundle/Resources/public/css/externalApplicantion.scss'
    output='css/opitnoteshiring/external_application.css' filter='?yui_css,cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block body %}
    {{ form_start(form, {'method': 'POST', 'attr': {'id': 'applicantForm'}}) }}
        <div class="width-615 background-color-light-black margin-center margin-top-15">
            <div class=" float-left width-30 background-color-aquamarine padding-top-6 padding-bottom-6 align-center">
                <a href="http://www.opit.hu" target="_blank"><img src="{{ asset('images/logo.png') }}" width="120" alt="" /></a>
            </div>
            <div class="background-color-aquamarine padding-top-6 padding-bottom-6 align-center height-55" >
                <h2 class="margin-0">Application form - {{ jobPosition.jobTitle }} </h2>
            </div>
            <div id="reply-message" class="alert-message error-message width-85 margin-center {% if 0 == errors|length %}display-none{% endif %}">
                <i class="fa fa-exclamation-triangle"></i> <strong>Error messages:</strong>
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="height-83" >
                <div class="color-white display-inline-block margin-top-28 margin-left-20 vertical-align-top font-size-18">
                    <strong>{{ form_label(form.name) }}</strong>
                </div>
                <div class="display-inline-block vertical-align-top margin-top-28 float-right margin-right-20">
                    {{ form_widget(form.name, {'attr': {'class': 'width-240 height-18 background-color-light-yellow border-radius-0-important'}}) }}
                </div>
            </div>
            <div class="height-83">
                <div class="color-white display-inline-block margin-top-28 margin-left-20 vertical-align-top font-size-18">
                    <strong>{{ form_label(form.email) }}</strong>
                </div>
                <div class="display-inline-block vertical-align-top margin-top-28 float-right margin-right-20">
                    {{ form_widget(form.email, {'attr': {'class': 'width-240 height-18 background-color-light-yellow border-radius-0-important'}}) }}
                </div>
            </div>
            <div class="height-83">
                <div class="color-white display-inline-block margin-top-28 margin-left-20 vertical-align-top font-size-18">
                    <strong>{{ form_label(form.phoneNumber) }}</strong>
                </div>
                <div class="display-inline-block vertical-align-top margin-top-28 float-right margin-right-20">
                    {{ form_widget(form.phoneNumber, {'attr': {'class': 'width-240 height-18 background-color-light-yellow border-radius-0-important'}}) }}
                </div>
            </div>
            <div class="height-83">
                <div class="color-white display-inline-block margin-top-28 margin-left-20 vertical-align-top font-size-18">
                    <strong>{{ form_label(form.keywords) }}</strong>
                </div>
                <div class="display-inline-block vertical-align-top margin-top-28 float-right margin-right-20">
                    {{ form_widget(form.keywords, {'attr': {'class': 'width-240 height-18 background-color-light-yellow border-radius-0-important'}}) }}
                </div>
            </div>
            <div class="height-83">
                <div class="color-white display-inline-block margin-top-28 margin-left-20 vertical-align-top font-size-18">
                    <strong>{{ form_label(form.cvFile) }}</strong>
                </div>
                <div class="display-inline-block vertical-align-top margin-top-28 float-right margin-right-20">
                    {{ form_widget(form.cvFile, {'attr': {'class': 'width-240 color-white'}}) }}
                </div>
            </div>
            <div class="height-50">
                {{ form_widget(form.create_applicant) }}
            </div>
        </div>
        {{ form_widget(form._token) }}
    {{ form_end(form) }}
{% endblock %}
{% block footer %}
    <footer class="color-dark-grey box-shadow-0 align-center">
        {% include '::_footer.html.twig' with { 'basic': true } %}
    </footer>
{% endblock %}