<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-language" content="en">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}NOTES{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% stylesheets 
            'css/html5-boilerplate/normalize.css'
            'css/html5-boilerplate/main.css'
            '../app/Resources/public/css/main.css'
            '../app/Resources/public/css/general.css'
            'bundles/bmatznerfontawesome/css/font-awesome.min.css'
            'libs/tipsy/css/tipsy.css'
            '//code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css'
           output='css/base.css' filter='?yui_css, cssrewrite'%}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        <script src="{{ asset('js/modernizr/modernizr.2.7.0.js') }}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div id="main-wrapper" class="margin-bottom-40">
            {% block header %}{% endblock %}
            <div id="main-content">
                {% block body %}{% endblock %}
            </div>
        </div>
        {% block footer %}
        <footer class="background-color-lightest-grey padding-5 align-center position-fixed width-100 bottom-0 color-dark-grey font-size-d9-em">
            <span>NOTES 2014 -</span>
            <a href='{{ path('OpitNotesUserBundle_default_versions') }}' class="color-dark-grey">{% if true -%}
                v{% if version_number is defined %}{{ version_number }}{% else %}1.0{% endif %}
            {%- endif %}</a>
            &nbsp;-&nbsp;
            <span>An initiative of <a href="http://www.opit.hu" class="color-dark-grey" target="_blank">OPIT Consulting KFT</a>, Hungary</span>
        </footer>
        {% endblock %}
        {% block javascripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
            <script>
                window.jQuery || document.write('<script src="{{ asset('js/jquery/jquery-1.11.0.min.js') }}"><\/script>');
            </script>
            {% javascripts 
                'bundles/fosjsrouting/js/router.js'
                'libs/tipsy/js/jquery.tipsy.js'
                'libs/sortElement/js/jquery.sort.js'
                '../app/Resources/public/js/main.js'
                '../app/Resources/public/js/list.js'
                '@OpitNotesUserBundle/Resources/public/js/main.js'
                '@OpitNotesTravelBundle/Resources/public/js/main.js'
            output='js/base.js' filter='?yui_js' %}
                <script type="text/javascript" src="{{ asset_url }}" ></script>
            {% endjavascripts %}
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        {% endblock %}
        {% block scripts %}{% endblock %}
    </body>
</html>
