{% extends 'OpitOpitHrmCoreBundle::layout.html.twig' %}
{% block title %}
Leave Entitlement configuration - {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@OpitOpitHrmTravelBundle/Resources/public/css/module.scss'
    output='css/opithrmleave/list_leave_settings.css' filter='?yui_css,cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block body %}
<h1 class="margin-bottom-01em-important">Leave Entitlement configuration</h1>
<div class="listing-description">Leave Entitlement can be configured from here.It is used to calculate employee yearly leave entitlements.</div>
{% if isEnabled  %}
    <div  id="list">
        <div id="list-reply-message"></div>
        <div id="reply-message"></div>
        <form id="list-settings">
            {% include 'OpitOpitHrmLeaveBundle:Admin:_listLeaveSettings.html.twig' %}
        </form>
        </div>
        <a href=""><button id="save" class="button">Save</button></a>
    </div>
{% else %}
    <h3>
        Leave entitlement configuration is disabled.
    </h3>
{% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@OpitOpitHrmLeaveBundle/Resources/public/js/Admin/listLeaveSettings.coffee'
    output='js/opithrmleave/leave_setting.js' filter='?yui_js' %}
    <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}

