{% extends 'OpitOpitHrmCoreBundle::layout.html.twig' %}
{% block title %}
    Administrative leave/working day list - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include '::_stylesheets.html.twig' %}
    {% stylesheets
        '@OpitOpitHrmLeaveBundle/Resources/public/css/listLeaveDates.scss'
    output='css/opithrmleave/list_leave_dates.css' filter='?yui_css,cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
<h1 class="margin-bottom-01em-important">Administrative leave/working day list</h1>
<div class="listing-description">Administrative leave/working days can be created from here.They are used while calculating total leave days in an employee leave request.</div>
<div  id="list">
    {% include 'OpitOpitHrmLeaveBundle:Admin:_searchForm.html.twig' with { 'order_field': 'id' } %}
    
    <table>
        <tr>
            <td class="padding-left-0">
                <button id="addLeaveDate" class="button"><i class="fa fa-plus-square fa-1x"></i>Add</button>
                <button id="delete" class="button delete"><i class="fa fa-trash-o fa-1x"></i>Delete</button>
            </td>
        </tr>
    </table>
    
    <div id="list-reply-message"></div>
    <form id="form-leavedate">
        {% include 'OpitOpitHrmLeaveBundle:Admin:_listLeaveDates.html.twig' %}
    </form>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@OpitOpitHrmCoreBundle/Resources/public/js/SearchForm.coffee'
        '@OpitOpitHrmLeaveBundle/Resources/public/js/Admin/listLeaveDates.coffee'
    output='js/opithrmleave/admin/list_dates.js' filter='?yui_js' %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}
