{% extends '::base.html.twig' %}
{% block title %}
        {{ jobPosition.jobTitle }} application form
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@OpitOpitHrmHiringBundle/Resources/public/css/externalApplicantion.scss'
    output='css/opithrmhiring/external_application.css' filter='?yui_css,cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block body %}
    <div class="width-615 background-color-light-black margin-center margin-top-15">
        <div class=" float-left width-30 background-color-aquamarine padding-top-6 padding-bottom-6 align-center height-55">
            <a href="http://www.opit.hu" target="_blank"><img src="{{ asset('images/logo.png') }}" width="120" alt="" /></a>
        </div>
        <div class="width-100 background-color-aquamarine padding-top-6 padding-bottom-6 align-center">
            <h2 class="margin-0">{{ jobPosition.jobTitle }} application form</h2>
        </div>
        <div class="height-83 color-white align-center">
            <span class="font-size-18 display-inline-block margin-top-28">
                <strong>Successfully applied for Senior PHP Developer</strong>
            </span>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <footer class="color-dark-grey box-shadow-0 align-center">
        {% include '::_footer.html.twig' with { 'basic': true } %}
    </footer>
{% endblock %}