{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '../app/Resources/public/css/updateStatus.scss'
    output='css/opitnotesleave/update_status.css' filter='?yui_css,cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block body %}
<div class="align-center margin-bottom-10">
    <a href="{{ path('OpitNotesTravelBundle_travel_list') }}" id="siteLogo" class="clearfix text-decoration-none">
        <span class="color-black align-center display-block">NOTES</span>
        <span class="color-light-green align-center">New OPIT Travel Expense System</span>
    </a>
</div>
<div id="request-status">
{% if 'post' == method %}
<h2>Leave request successfully updated: "{{ status }}".</h2>
<h4>
    You can go to <a href="{{ path('OpitNotesUserBundle_user_show_infoboard') }}">NOTES</a> or simply close the tab.
</h4>
{% else %}
<h2>Update leave request: "{{ status }}".</h2>
<form method="post" action="{{ app.request.uri }}">
    <input type="submit" class="button" value="Update" />
</form>
</div>
{% endif %}
{% endblock %}
{% block footer %}{% endblock %}