{% extends 'OpitNotesCoreBundle::layout.html.twig' %}
{% block title %}
    {% if true == isNewJobPosition %}New{% else %}Edit{% endif %} job position - {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@OpitNotesHiringBundle/Resources/public/js/jobPosition/showJobPosition.coffee'
    output='js/opitnoteshiring/show_job_position.js' filter='?yui_js' %}
    <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@OpitNotesTravelBundle/Resources/public/css/module.scss'
    output='css/opitnoteshiring/show_job_position.css' filter='?yui_css,cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block body %}
    <h1>
        {% if true == isNewJobPosition %}New{% else%}Edit{% endif %} job position
    </h1>

    <div class="dialog-description default-border-radius">
        Job positions can be added or edited from here.
    </div>

    <div id="reply-message" class="alert-message error-message {% if 0 == errors|length %}display-none{% endif %}">
        <i class="fa fa-exclamation-triangle"></i> <strong>Error messages:</strong>
        <ul>
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    </div>
    
    <form action="{{ path('OpitNotesHiringBundle_job_position_show', { 'id': app.request.get('id')}) }}" method="post" id="jobPositionForm" class="{% if 0 == isEditable %}disabled{% endif %}">
        <div class="formFieldset padding-bottom-5 margin-top-20 margin-bottom-20 padding-10">
                <div class="display-inline-block">
                    {{ form_label(form.jobTitle) }}
                    {{ form_widget(form.jobTitle) }}
                </div>
                <div class="display-inline-block margin-bottom-10">
                    {{ form_label(form.numberOfPositions) }}
                    {{ form_widget(form.numberOfPositions) }}
                </div>
                <div class="display-block margin-bottom-10">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                </div>
                <div class="display-block margin-bottom-10">
                    {{ form_label(form.hiring_manager_ac) }}
                    {{ form_widget(form.hiring_manager_ac) }}
                </div>
                <div class="display-block margin-bottom-10">
                    <div class="display-inline-block">
                    {{ form_label(form.isActive) }}
                    </div>
                    <div class="display-inline-block">
                    {{ form_widget(form.isActive) }}
                    </div>
                </div>
                {% if '' != externalApplicationFormUrl %}
                <div class="display-block margin-bottom-10">
                    <label>Job application external link</label>
                    <a href="{{ externalApplicationFormUrl }}" target="_blank" title="Link to job application page">
                        {{ externalApplicationFormUrl }}
                    </a>
                </div>
                {% endif %}
        </div>
        {{ form_widget(form.hiring_manager) }}
        {{ form_widget(form._token) }}
        {{ form_widget(form.create_job_position) }}
        <a href="{{ path('OpitNotesHiringBundle_job_position_list') }}" id="cancel-button" class="button">Cancel</a>
    </form>
{% endblock %}