
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('libs/fullcalendar/css/fullcalendar.css') }}" />
{% endblock %}
{% block body %}
    <div class="float-left summary-box" style="clear:both;width:612px;">
        <h3><i class="fa fa-user"></i>  Team Leave Calendar </h3>
        <div id="team-leaves-calendar" class="width-98"></div>
        <div class="margin-bottom-20 margin-top-5 display-block">
             {% for employee in employees %}
                {% set employeeClass = employee.employeeName|replace(' ', '_') ~ '-' ~ employee.id %}
                <div class="display-inline-block padding-10 border-radius-5 padding-top-2 padding-bottom-2 margin-bottom-5 color-white team-employee {{ employeeClass }}" data-class="{{ employeeClass }}">
                    {{ employee.employeeName }}
                    <br />
                    <span class="font-size-d8-em">
                        {{ employee.user.email }}
                    </span>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}