<div class="float-left width-290 summary-box margin-right-5">
    <h3><i class="fa fa-user"></i>  Travel Info </h3>
    <div class="float-left">
        <b>Travel Request</b> <br>
        Total: {{totalTravelRequestCount}} <br>
        Finalized : {{notPendingTravelRequestCount}}<br>
        Pending: {{pendingTravelRequestCount}}<br>
    </div>
    <div class="float-right">
        <b>Expense Request</b> <br>
        Total: {{totalTravelExpenseCount}} <br>
        Finalized : {{notPendingTravelExpenseCount}}<br>
        Pending: {{pendingTravelExpenseCount}}
    </div>

</div>