<div id="list-table">
    <table class="width-100">
        <thead>
            <tr>
                <th class="width-24-fix"><i class="fa fa-trash-o" title="Select/Deselect all"></i></th>
                {% set orderIcon %}
                    <i class="fa fa-sort default-right"></i>
                {% endset %}
                <th>
                    {{ orderIcon }}
                    <span class="order-text cursor-pointer">ID</span>
                </th>
                <th>
                    {{ orderIcon }}
                    <span class="order-text cursor-pointer">Date</span>
                </th>
                <th>
                    {{ orderIcon }}
                    <span class="order-text cursor-pointer">Type</span>
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for leaveDate in leaveDates %}
            <tr class="clickableTableRow" id="row-{{ leaveDate.id }}">
                <td>
                    <input name="delete-leavedate[]" type="checkbox" class="list-delete-leavedate deleteMultiple" value="{{ leaveDate.id }}">
                </td>
                <td data-tr-id='{{ leaveDate.id }}'>{{ leaveDate.id }}</td>
                <td><span class="list-leavedate clickable" data-id="{{ leaveDate.id }}">{{ leaveDate.holidayDate|date('Y-m-d') }}</span></td>
                <td>{{ leaveDate.holidayType.name|slice(0,80) }}{% if leaveDate.holidayType.name|length > 80 %}{{ '...' }}{% endif %}</td>
                <td>
                    <a href="#" class="list-leavedate" data-id="{{ leaveDate.id }}" title="Edit Administrative Leave/Working Day"><i class="fa fa-pencil-square-o"></i></a>
                    <a href="#" data-id="{{ leaveDate.id }}" class="delete-single-leavedate" title="Delete Administrative Leave/Working Day"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    {# Display a no results message #}
    {% include 'OpitNotesCoreBundle:Shared:_emptyResult.html.twig' with { 'collection': leaveDates } %}
</div>