<div id="list-table">
    <table class="width-100">
        <tr>
            <th class="width-24-fix"><i class="fa fa-trash-o" title="Select/Deselect all"></i></th>
            {% set orderIcon %}
                <i class="fa fa-sort default-right"></i>
            {% endset %}
            <th>
                {{ orderIcon }}
                <span class="order-text cursor-pointer">ID</span>
            </th>
            <th>
                {{ orderIcon }}
                <span class="order-text cursor-pointer">Name</span>
            </th>
            <th>
                {{ orderIcon }}
                <span class="order-text cursor-pointer">Description</span>
            </th>
            <th>
                {{ orderIcon }}
                <span class="order-text cursor-pointer">Duration</span>
            </th>
            <th>
                <span>Assigned to leave requests</span>
            </th>
            <th>Actions</th>
        </tr>
        {% for leaveCategory in leaveCategories %}
            {% if numberOfRelations is defined and leaveCategory.id in numberOfRelations|keys %}
                {% set disabledLeaveCategory = 'true'  %}
            {% else %}
                {% set disabledLeaveCategory = 'false'  %}
            {% endif %}
        <tr class="clickableTableRow">
            <td>
                <input name="delete-leavecategory[]" type="checkbox" class="list-delete-leavecategory deleteMultiple" value="{{ leaveCategory.id }}" {% if 'true' == disabledLeaveCategory %} {{ 'disabled="disabled"' }}  {% endif %}>
            </td>
            <td data-tr-id='{{ leaveCategory.id }}'>{{ leaveCategory.id }}</td>
            <td><span class="list-leavecategory clickable" data-id="{{ leaveCategory.id }}">{{ leaveCategory.name }}</span></td>
            <td>{{ leaveCategory.description|slice(0,80) }}{% if leaveCategory.description|length > 80 %}{{ '...' }}{% endif %}</td>
            <td><span class="list-leavecategory clickable">{{ leaveCategory.leaveCategoryDuration.leaveCategoryDurationName }}</span></td>
            <td>
                <span>
                    {% if 'true' == disabledLeaveCategory %}
                        {{ attribute(numberOfRelations, leaveCategory.id) }}
                    {% endif %}
                </span>
            </td>
            <td>
                <a href="#" class="list-leavecategory" data-id="{{ leaveCategory.id }}" title="Edit leave category"><i class="fa fa-pencil-square-o"></i></a>
                {% if 'false' == disabledLeaveCategory %}
                    <a href="#" data-id="{{ leaveCategory.id }}" class="delete-single-leavecategory" title="Delete leave category"><i class="fa fa-trash-o"></i></a>
                {% else %}
                    <span class="float-left width-15-fix">&nbsp;</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>