<div id="list-table">
    <table class="width-100">
        <tr>
            <th class="width-24-fix"><i class="fa fa-trash-o" title="Select/Deselect all"></i></th>
            <th>
                <i class="fa fa-sort default-right" data-field="id"></i>
                <span class="order-text cursor-pointer">ID</span>
            </th>
            <th>
                <i class="fa fa-sort default-right" data-field="name"></i>
                <span class="order-text cursor-pointer">Name</span>
            </th>
            <th>
                <span>Assigned to leave/working day</span>
            </th>
            <th>Actions</th>
        </tr>
        {% for leaveType in leaveTypes %}
            {% if numberOfRelations is defined and leaveType.id in numberOfRelations|keys %}
                {% set disabledLeaveType = 'true'  %}
            {% else %}
                {% set disabledLeaveType = 'false'  %}
            {% endif %}
        <tr class="clickableTableRow">
            <td>
                <input name="delete-leavetype[]" type="checkbox" class="list-delete-leavetype deleteMultiple" value="{{ leaveType.id }}" {% if 'true' == disabledLeaveType %} {{ 'disabled="disabled"' }}  {% endif %}>
            </td>
            <td data-tr-id='{{ leaveType.id }}'>{{ leaveType.id }}</td>
            <td><span class="list-leavetype clickable" data-id="{{ leaveType.id }}">{{ leaveType.name }}</span></td>
            <td>
                <span>
                    {% if 'true' == disabledLeaveType %}
                        {{ attribute(numberOfRelations, leaveType.id) }}
                    {% endif %}
                </span>
            </td>
            <td>
                <a href="#" class="list-leavetype" data-id="{{ leaveType.id }}" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                {% if 'false' == disabledLeaveType %}
                    <a href="#" data-id="{{ leaveType.id }}" class="delete-single-leavetype" title="Delete"><i class="fa fa-trash-o"></i></a>
                {% else %}
                    <span class="float-left width-15-fix">&nbsp;</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
