{% extends 'OpitNotesUserBundle::layout.html.twig' %}
{% block title %}
    Administrative Leave/Working Day list - {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {% stylesheets
        '../app/Resources/public/css/list.css'
    output='css/opitnotesleave/list.css' filter='?yui_css,cssrewrite' %}
        <link rel="stylesheet" href="{{ asset(asset_url) }}" />
    {% endstylesheets %}
{% endblock %}
{% block body %}
<h1>Administrative Leave/Working Day list</h1>
<div  id="list">
    <table>
        <tr>
            <td class="padding-0">
                <button id="addHolidayDate" class="button"><i class="fa fa-plus-square fa-1x"></i>Add</button>
                <button id="delete" class="button delete"><i class="fa fa-trash-o fa-1x"></i>Delete</button>
            </td>
        </tr>
    </table>
<section id="pager" class="align-center background-color-lightest-grey margin-bottom-20 padding-10 border-radius-5">
    {% for year in years %}
        <span class="year cursor-pointer" data-year="{{ year }}"><strong>{{ year }}</strong></span>
    {% endfor %}
</section>
    <div id="list-reply-message"></div>
    <form  class="form-holidaydate">
        <div id="list-table">
            {% include 'OpitNotesLeaveBundle:Admin:_listLeaveDates.html.twig' %}
        </div>
    </form>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@OpitNotesLeaveBundle/Resources/public/js/Admin/listLeaveDates.coffee'
        '@OpitNotesUserBundle/Resources/public/js/list.coffee'
    output='js/opitnotesleave/admin/list_dates.js' filter='?yui_js' %}
        <script type="text/javascript" src="{{ asset(asset_url) }}" ></script>
    {% endjavascripts %}
{% endblock %}
