{% form_theme form 'OpitNotesUserBundle:Form:form_template.html.twig' %}
{% if form.vars.value.getId() is not null %}
    {% set title = "Edit Administrative Leave/Working Day type"  %}
    {% set desc = "Edit an existing Administrative Leave/Working Day type." %}
{% else %}
    {% set title = "Create Administrative Leave/Working Day type"  %}
    {% set desc = "Create a new Administrative Leave/Working Day type." %}
{% endif %}
<h2 class="dialog-h2">{{ title|trans }}</h2>
<div class="dialog-description">{{desc|trans}}</div>
<div id="reply-message"></div>
<form name="addleavetype_frm" id="addleavetype_frm" method="post">
    {{ form_start(form) }}
    <div class="modalwindow width-98 default-border height-auto overflow-hidden">
        <div class="float-left width-300">
            <div class="vertical-align-top item-input-box-header float-left height-20 color-white background-color-green bold padding-4">
                {{ form_label(form.name) }}
            </div>
            <div class="vertical-align-top item-input-box float-left height-60 margin-bottom-10 padding-3">
                {{ form_widget(form.name, {'attr': {'class': 'width-96'}}) }}
                {{ form_errors(form.name) }}
            </div>
        </div>
            
        <div class="float-left width-32">
            <div class="vertical-align-top item-input-box-header float-left height-20 color-white background-color-green bold padding-4">
                {{ form_label(form.isWorkingDay) }}
            </div>
            <div class="vertical-align-top item-input-box float-left height-60 margin-bottom-10 padding-3">
                {{ form_widget(form.isWorkingDay, {'attr': {'class': 'width-96'}}) }}
                {{ form_errors(form.isWorkingDay) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</form>