{% form_theme form 'OpitNotesUserBundle:Form:form_template.html.twig' %}
{% if form.vars.value.getId() is not null %}
    {% set title = "Edit Administrative Leave/Working Day"  %}
    {% set desc = "You can edit an existing Administrative Leave/Working Day from here." %}
{% else %}
    {% set title = "Create Administrative Leave/Working Day"  %}
    {% set desc = "You can create a new Administrative Leave/Working Day from here." %}
{% endif %}
<h2 class="dialog-h2">{{ title|trans }}</h2>
<div class="dialog-description">{{desc|trans}}</div>
<div id="reply-message"></div>
<form name="addleavedate_frm" id="addleavedate_frm" method="post">
    {{ form_start(form) }}
    <div class="modalwindow width-98 default-border height-auto overflow-hidden">
        <div class="float-left width-48">
            <div class="vertical-align-top item-input-box-header float-left height-20 color-white background-color-green bold padding-4">
                {{ form_label(form.holidayDate) }}
            </div>
            <div class="vertical-align-top item-input-box float-left height-60 margin-bottom-10 padding-3">
                {{ form_widget(form.holidayDate, {'attr': {'class': 'width-96'}}) }}
                {{ form_errors(form.holidayDate) }}
            </div>
        </div>
        <div class="float-left width-48">
            <div class="vertical-align-top item-input-box-header float-left height-20 color-white background-color-green bold padding-4">
                {{ form_label(form.holidayType) }}
            </div>
            <div class="vertical-align-top item-input-box float-left height-60 margin-bottom-10 padding-3">
                {{ form_widget(form.holidayType, {'attr': {'class': 'width-96 default-border-radius'}}) }}
                {{ form_errors(form.holidayType) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</form>