{% extends '::base.html.twig' %}
{% block stylesheets %}
    {% stylesheets
        '@OpitNotesUserBundle/Resources/public/css/list.scss'
    output='css/opitnotesuser/main.css' filter='?yui_css, cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js'
        '//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/additional-methods.min.js'
        '@OpitNotesCoreBundle/Resources/public/js/search.coffee'
    output='js/opitnotesuser/main.js' filter='?yui_js' %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}
{% block header %}
    <header>
        <a href="{{ path('OpitNotesUserBundle_user_show_infoboard') }}" id="siteLogo" class="float-left color-black text-decoration-none margin-bottom-20 margin-left-10">
            <span class="display-block">NOTES</span>
            <span class="color-light-green">New OPIT Travel Expense System</span>
        </a>
        <a href="{{ path('OpitNotesUserBundle_logout') }}" id="logoutButton" class="float-right color-white background-color-green text-decoration-none bold">
            logout
            <i class="fa fa-sign-out margin-0"></i>
        </a>
        <div id="loggedInUser" class="header-tab float-right text-decoration-none bold{{ is_granted('ROLE_ADMIN') ? ' edit cursor-pointer' : '' }}">
            <span data-user-id="{{app.user.id}}">
                {{ app.user.username }}&nbsp;
                {% if is_granted('ROLE_ADMIN') %}
                <i class="fa fa-cog margin-0"></i>
                {% endif %}
            </span>
        </div>
        <div id="changePassword" class="pointer header-tab float-right text-decoration-none bold" data-user-id="{{ app.user.id }}">
            <span class="list-change-password clickable no-text-decoration" title="Reset password">
               <i class="fa fa-key cursor-pointer margin-0"></i>
            </span>
        </div>
        <div id="notifications">
            <i class="fa fa-bell-o"></i>
            <div class="round-border position-absolute display-none" id="unread-notifications-count"></div>
            <div id="notifications-wrapper">
                <div id="notifications-content" class="display-none"></div>
            </div>
        </div>
        <div id="menuWrapper">
            {% include 'OpitNotesUserBundle:Shared:_menu.html.twig' %}
        </div>
    </header>
{% endblock %}
{% block body %}{% endblock %}