{% extends '::base.html.twig' %}
{% block stylesheets %}
    {% stylesheets
        '@OpitNotesUserBundle/Resources/public/css/list.scss'
    output='css/opitnotesuser/main.css' filter='?yui_css, cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js'
        '//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/additional-methods.min.js'
    output='js/opitnotesuser/main.js' filter='?yui_js' %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}
{% block header %}
    <header>
        <a href="{{ path('OpitNotesUserBundle_user_show_infoboard') }}" id="siteLogo" class="float-left color-black text-decoration-none margin-bottom-20 margin-left-10">
            <span class="display-block">NOTES</span>
            <span class="color-light-green">New OPIT Travel Expense System</span>
        </a>
        <div class="header-tab float-right text-decoration-none bold">
            <span data-user-id="{{app.user.id}}">
                Hello {{ app.user.username }}!
            </span>
        </div>
        <div id="notifications">
            <i class="fa fa-bell-o"></i>
            <div class="round-border position-absolute display-none" id="unread-notifications-count"></div>
            <div id="notifications-wrapper">
                <div id="notifications-content" class="display-none"></div>
            </div>
        </div>
        <div id="menuWrapper">
            {% include 'OpitNotesUserBundle:Shared:_menu.html.twig' %}
        </div>
    </header>
{% endblock %}
{% block body %}{% endblock %}