{% extends '::base.html.twig' %}
{% block stylesheets %}
    {% stylesheets 
        '@OpitNotesUserBundle/Resources/public/css/login.css'
    output='css/opitnotesuser/login.css' filter='?yui_css,cssrewrite' %}
        <link rel="stylesheet" href="{{ asset(asset_url) }}" />
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/opitnotesuser/js/login.js') }}" ></script>
{% endblock %}            
            
{% block body %}
    <div id="mainWrapper" class="margin-center">
        <div id="welcomeWrapper" class="width-100 margin-center background-color-lighter-grey">
            <div id="welcomeText" class="color-black align-center">NOTES</div>
            <div id="welcomeUnderText" class="color-light-green align-center">New OPIT Travel Expense System</div>
        </div>
        <div id="loginForm" class="float-left background-color-lighter-grey width-30 margin-top-10">
            <div>
            <h2 class="margin-bottom-5">Login</h2>
            {% if error %}
                    <div class="error color-red margin-bottom-10">{{ error.message }}</div>
            {% endif %}
            {{ form(form, {'action': path('OpitNotesUserBundle_check'), 'method': 'POST', 'attr': {'id':'login'} }) }}
            </div>
        </div>
        <div id="featuresForm" class="float-left margin-top-10 margin-left-10 background-color-lighter-grey">
            <h2>The New OPIT Travel Expense System (NOTES) features:</h2>

            <ol>
                <li>
                    User Management
                </li>
                <li>
                    Administrate collating and displaying the expected travel expenses
                </li>
                <li>
                    Submission for travel related expense
                </li>
                <li>
                    Worklow support
                </li>
                <li>
                    Automated currency rate fetching                
                </li>
            </ol>
        </div>
    </div>        
{% endblock %}

{# Remove the footer from the login template #}
{% block footer %}{% endblock %}