{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 
        '@OpitNotesUserBundle/Resources/public/css/main.css'
        '@OpitNotesUserBundle/Resources/public/css/login.css'
    output='css/notes_login.css' filter='?yui_css,cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/bundles/opitnotesuser/js/login.js" ></script>
{% endblock %}            
            
{% block body %}
    <div id="mainWrapper">
        <div id="welcomeWrapper">
            <div id="welcomeText">NOTES</div>
            <div id="welcomeUnderText">New OPIT Travel Expense System</div>
        </div>
        <div id="loginForm">
            <div>
            <h2>Login</h2>
            {% if error %}
                    <div class="error">{{ error.message }}</div>
            {% endif %}
            {{ form(form, {'action': path('OpitNotesUserBundle_check'), 'method': 'POST', 'attr': {'id':'login'} }) }}
            </div>
        </div>
        <div id="featuresForm">
            <h2>The New OPIT Travel Expense System (NOTES) features:</h2>

            <ol>
                <li>
                    User Management
                </li>
                <li>
                    Administrate collating and displaying the expected travel expenses
                </li>
                <li>
                    Submission for travel related expense
                </li>
                <li>
                    Worklow support
                </li>
                <li>
                    Automated currency rate fetching                
                </li>
            </ol>
        </div>
    </div>        
{% endblock %}