<div id="leave-calendar-overlay" class="display-none"></div>
<div id="leave-calendar-container" class="float-left summary-box">
    <i id="toggle-calendar-size" class="fa fa-external-link cursor-pointer"></i>
    <div id="calendar-button-group" class="display-inline-block">
        <span id="export-button" class="fc-today-button fc-button fc-state-default fc-corner-left fc-corner-right">
            export <i class="fa fa-upload"></i>
        </span>
        <select id="calendar-team-selector" class="fc-state-default fc-corner-left fc-corner-right">
            <option value="0" selected="selected">All teams</option>
            {# Add all teams user is in #}
            {% for team in app.user.employee.teams %}
                <option value="{{ team.id }}">{{ team.teamName }}</option>
            {% endfor %}
        </select>
        <span class="fc-header-space"></span>
    </div>
    <h3><i class="fa fa-user"></i>  Team Leave Calendar </h3>
    <div id="team-leaves-calendar" class="width-98"></div>
    <div class="margin-bottom-20 margin-top-5 display-block">
         {% for employee in employees %}
            {% set employeeData = employee.employeeName|replace(' ', '_') ~ '-' ~ employee.id %}
            {% set employeeClass = employeeData %}
            {# Set employee teams as classes #}
            {% for team in employee.teams %}
                {% set employeeClass  = employeeClass ~ ' team-' ~ team.id %}
            {% endfor %}
            <div class="display-inline-block padding-10 border-radius-5 padding-top-2 padding-bottom-2 margin-bottom-5 color-white team-employee {{ employeeClass }}" data-class="{{ employeeData }}">
                {{ employee.employeeName }}
                {% if is_granted('ROLE_TEAM_MANAGER') %}
                <span title="Left to avail">({{ leftToAvail[employee.id] }})</span>
                {% endif %}
                <br />
                <span class="font-size-d8-em">
                    {{ employee.user.email }}
                </span>
            </div>
        {% endfor %}
    </div>
</div>