{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@OpitNotesTravelBundle/Resources/public/css/updateStatus.css'
    output='css/opitnotesuser/status.css' filter='?yui_css,cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block body %}
<div class="align-center margin-bottom-10">
    <a href="{{ path('OpitNotesTravelBundle_travel_list') }}" id="siteLogo" class="clearfix text-decoration-none">
        <span class="color-black align-center display-block">NOTES</span>
        <span class="color-light-green align-center">New OPIT Travel Expense System</span>
    </a>
</div>      
<div id="travelStatus">
<h2>Change password</h2>
<h4>
    You need to change your password before your first login into <a href="{{ path('OpitNotesUserBundle_security_login') }}">NOTES</a>.
</h4>
    <div id="reply-message" class="alert-message error-message width-300 margin-center display-none">
        <i class="fa fa-exclamation-triangle"></i> <strong>Error messages:</strong>
    </div>
    {{ form(form, {
        'action': (path('OpitNotesUserBundle_user_change_password', { 'id': app.request.get('id')})),
        'method': 'POST'
       })
    }}
</div>
{% endblock %}    
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $ul = $(document).find('ul');
            if ($ul.length > 0) {
                $('#reply-message').append($ul);
                $('#reply-message').toggleClass('display-none');
            }
        });
    </script>    
{% endblock %}