{% extends 'OpitNotesCoreBundle::layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        'libs/fullcalendar/css/fullcalendar.css'
    output='css/opitnotesuser/show_user_summary.css' filter='?yui_css,cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block title %}
    Employee Summary - {{ parent() }}
{% endblock %}
{% block body %}
<h1>Information Board</h1>
    <div id="employeeInfoWrapper" style="min-width:980px;">
        <div class="float-left width-290 summary-box margin-right-5">
            <h3><i class="fa fa-user"></i>  Employee Info </h3>
            <table cellpadding="0" cellspacing="0" class="width-100">
                <tr>
                    <td width="33%">Name:</td>
                    <td>{{ employee.employeeName|e }}</td>
                </tr>
                <tr>
                    <td width="30%">Joining:</td>
                    <td>{{ employee.joiningDate|date('d  F  Y') }}</td>
                </tr>
                <tr>
                    <td width="30%">Birth Date:</td>
                    <td>{{ employee.dateOfBirth|date('d  F  Y') }}</td>
                </tr>
                <tr>
                    <td width="30%">Children:</td>
                    <td>{{ employee.numberOfChildren|e }}</td>
                </tr>
                <tr>
                    <td width="30%">Tax-ID:</td>
                    <td>{{ employee.taxIdentification }}</td>
                </tr>
                <tr>
                    <td width="30%">Bank Name:</td>
                    <td>{{ employee.bankName|e }}</td>
                </tr>
                <tr>
                    <td width="30%">BAN:</td>
                    <td>{{ employee.bankAccountNumber|e }}</td>
                </tr>
                <tr>
                    <td width="30%">Job Title:</td>
                    <td>{%if employee.jobTitle.title is defined %}{{ employee.jobTitle.title|e }}{% endif %}</td>
                </tr>
                <tr>
                    <td width="30%">Work Hours:</td>
                    <td>{{ employee.workingHours|e }}</td>
                </tr>
            </table>
        </div>
        {% if bundleExist('OpitNotesTravelBundle') %}
            {{ render(controller('OpitNotesTravelBundle:Travel:employeeTravelInfoBoard')) }}
        {% endif %}
        {% if bundleExist('OpitNotesLeaveBundle') %}
            {{ render(controller('OpitNotesLeaveBundle:Leave:employeeLeavesinfoBoard')) }}
            {{ render(controller('OpitNotesLeaveBundle:Calendar:showTeamLeavesCalendar', {
                'partial': true
            })) }}
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@OpitNotesUserBundle/Resources/public/js/list.coffee'
    output='js/opitnotesuser/list.js' filter='?yui_js' %}
        <script type="text/javascript" src="{{ asset(asset_url) }}" ></script>
    {% endjavascripts %}
    {% if bundleExist('OpitNotesLeaveBundle') %}
        {% javascripts
            'libs/fullcalendar/js/fullcalendar.min.js'
            '@OpitNotesLeaveBundle/Resources/public/js/Calendar/teamLeavesCalendar.coffee'
            output='js/team_leaves_calendar.js' filter='?yui_js' %}
            <script type="text/javascript" src="{{ asset(asset_url) }}" ></script>
        {% endjavascripts %}
    {% endif %}
{% endblock %}