{% form_theme form 'OpitNotesUserBundle:Form:form_template.html.twig' %}

{% if form.vars.value.getId() is not null %}
    {% set title = "Edit User"  %}
    {% set desc = "Edit an existing user." %}
{% else %}
    {% set title = "Create User"  %}
    {% set desc = "Create a new user." %}
{% endif %}
<h2 class="dialog-h2">{{ title|trans }}</h2>
<div class="dialog-description">{{desc|trans}}</div>
<div id="reply-message"></div>
<div class="error-message">
    {{ form_errors(form) }}
</div>
<form name="adduser_frm" id="adduser_frm" method="post">
    <div class="modalwindow width-98 default-border height-auto overflow-hidden">
        {% for key, value in form if key != 'employee' %}
            {{ form_row(value) }}
        {% endfor %}
        {{ form_row(form.employee.numberOfChildren) }}
        {{ form_row(form.employee.dateOfBirth) }}
        {{ form_row(form.employee.joiningDate) }}
        {{ form_row(form.employee.teams) }}
    </div>
</form>
