<form  class="form-jobtitle">
    <table id="list-table" class="width-100">
        <tr>
            <th class="width-24-fix"><i class="fa fa-trash-o" title="Select/Deselect all"></i></th>
            <th>
                <i class="fa fa-sort default-right" data-field="id"></i>
                <span class="order-text cursor-pointer">ID</span>
            </th>
            <th>
                <i class="fa fa-sort default-right" data-field="title"></i>
                <span class="order-text cursor-pointer">Title</span>
            </th>
            <th>
                <i class="fa fa-sort default-right" data-field="description"></i>
                <span class="order-text cursor-pointer">Description</span>
            </th>
            <th>Assigned Users</th>
            <th>Actions</th>
        </tr>
        {% for jobTitle in jobTitles %}
            {% if disabledJobTitles is defined and jobTitle.id in disabledJobTitles|keys %}
                {% set disabledJobTitle = 'true'  %}
            {% else %}
                {% set disabledJobTitle = 'false'  %}
            {% endif %}
        <tr class="clickableTableRow">
            <td>            
                <input name="delete-jobtitle[]" type="checkbox" class="list-delete-jobtitle" value="{{ jobTitle.id }}" {% if 'true' == disabledJobTitle %} {{ 'disabled="disabled"' }}  {% endif %}>
            </td>
            <td data-tr-id='{{ jobTitle.id }}'>{{ jobTitle.id }}</td>
            <td><span class="list-jobtitle clickable" data-id="{{ jobTitle.id }}">{{ jobTitle.title }}</span></td>
            <td>{{ jobTitle.description|slice(0,80) }}{% if jobTitle.description|length > 80 %}{{ '...' }}{% endif %}</td>
            <td>
            {% if 'true' == disabledJobTitle %}
                  {{ attribute(disabledJobTitles, jobTitle.id) }}
            {% endif %}
            </td>
            <td>
                <a href="#" class="list-jobtitle" data-id="{{ jobTitle.id }}" title="Edit job title"><i class="fa fa-pencil-square-o"></i></a>
                {% if 'false' == disabledJobTitle %}
                <a href="#" data-id="{{ jobTitle.id }}" class="delete-single-jobtitle" title="Delete job title"><i class="fa fa-trash-o"></i></a>
                {% else %}
                    <span class="float-left width-15-fix">&nbsp;</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</form>
