{% extends 'OpitNotesUserBundle::layout.html.twig' %}
{% block title %}
    Admin - {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@OpitNotesUserBundle/Resources/public/js/Admin/Group/list.js'
        output='js/notes_admin_groups_list.js' filter='?yui_js' %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}    
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/opitnotesuser/css/list.css')  }}" />
{% endblock %}
{% block body %}
    <table>
        <tr>
            <td class="no-padding">
                <button id="add" class="button"><i class="fa fa-plus-square fa-1x"></i>Add</button>
                <button id="delete" class="button delete"><i class="fa fa-trash-o fa-1x"></i>Delete</button>
            </td>
        </tr>
    </table>
    <div id="list-reply-message"></div>
    {% include 'OpitNotesUserBundle:Shared:_list.html.twig' with {
        'propertyNames': propertyNames,
        'propertyValues': propertyValues,
        'hideReset': hideReset
        } %}
    <div id="roleForm" class="display-none">
        <div id="dialog-edititem">
            <h2></h2>
            <div class="description default-border-radius"></div>
            <div class="modalwindow">
                <div class="wdith-medium">
                    <div class="vertical-align-top item-input-box-header height-20">
                        <label class="margin-top-2 inlineElements" for="group">Role name: </label>
                    </div>
                    <div class="vertical-align-top item-input-box height-60">
                        <input class="inlineElements" type="text" id="group" name="group" value="" />
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}    