{% extends 'OpitNotesUserBundle::layout.html.twig' %}
{% block title %}
        {% if travelExpense.id is empty %}
        New travel expense
        {% else %}
        Edit travel expense
        {% endif %}
        - {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        // to check if new travel expense or not
        var isNewTravelExpense = {% if travelExpense.id is empty %}true{% else %}null{% endif %};
        {% if isEditLocked == 1 %}
        $(document).ready(function(){
            $('input').each(function(){
                $(this).attr('disabled', 'disabled');
            });
            $('select').each(function(){
                if (!$(this).hasClass('changeState')) {
                    $(this).attr('disabled', 'disabled');
                }
            });
            $('#travelExpense_add_travel_expense').addClass('button-disabled');
        });
        {% endif %}
    </script>
    <script type="text/javascript" src="{{ asset('bundles/opitnotestravel/js/showTravelExpense.js') }}" ></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/opitnotestravel/css/showTravelExpense.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/opitnotestravel/css/showTravelRequest.css') }}" />
{% endblock %}        
        
{% block body %}
    <h1>
        {% if travelExpense.id is empty %}
        Add Travel expense for travel request no. <span class="red-text">{{ trId }}</span>
        {% else %}
        Edit Travel expense for travel request no. <span class="red-text">{{ trId }}</span>
        {% endif %}
    </h1>
    {% set dropdownIsDisabled = (travelExpenseStates|length == 1) %}
    <div id="changeStateWrapper">
        {% if isStatusLocked == 0 %}
        <select class="changeState {% if dropdownIsDisabled %}dropdown-disabled{% endif %}" {% if dropdownIsDisabled %}disabled="disabled"{% endif %}>
            {% for key, value in travelExpenseStates %}
            <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
        {% else %}
        <select class="changeState dropdown-disabled" disabled="disabled">
            <option>{{ travelExpenseStates|first }}</option>
        </select>
        {% endif %}
    </div>
    
    <div class="modal-description default-border-radius">
        Travel expense can be added from here.
    </div>
    
    {% if form_errors(form)|length > 0 %}
    <div class="alert-message error-message">
        <i class='fa fa-exclamation-triangle'></i> <strong>Error messages:</strong>
        {{ form_errors(form) }}
    </div>
    {% endif %}

    {{ form(form, {
        'action': (path('OpitNotesTravelBundle_expense_show', { 'id': app.request.get('id'), 'tr': app.request.get('tr')})),
        'method': 'POST',
        'attr':{'id': 'travelExpenseForm'}
       })
    }}
{% endblock %}