{% extends 'OpitNotesUserBundle::layout.html.twig' %}
{% block title %}
        {% if travelExpense.id is empty %}
        New travel expense
        {% else %}
        Edit travel expense
        {% endif %}
        - {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        // to check if new travel expense or not
        var isNewTravelExpense = {% if travelExpense.id is empty %}true{% else %}null{% endif %};
    </script>
    <script type="text/javascript" src="{{ asset('bundles/opitnotestravel/js/showTravelExpense.js') }}" ></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/opitnotestravel/css/showTravelExpense.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/opitnotestravel/css/showTravelRequest.css') }}" />
{% endblock %}        
        
{% block body %}
    <h1>
        {% if travelExpense.id is empty %}
        Add Travel expense for travel request no. <span class="red-text">{{ trId }}</span>
        {% else %}
        Edit Travel expense for travel request no. <span class="red-text">{{ trId }}</span>
        {% endif %}
    </h1>
    
    <div class="modal-description default-border-radius">
        Travel expense can be added from here.
    </div>
    
    {% if form_errors(form)|length > 0 %}
    <div class="alert-message error-message">
        <i class='fa fa-exclamation-triangle'></i> <strong>Error messages:</strong>
        {{ form_errors(form) }}
    </div>
    {% endif %}

    {{ form(form, {
        'action': (path('OpitNotesTravelBundle_expense_show', { 'id': app.request.get('id'), 'tr': app.request.get('tr')})),
        'method': 'POST',
        'attr':{'id': 'travelExpenseForm'}
       })
    }}
{% endblock %}