{% extends 'OpitNotesUserBundle::layout.html.twig' %}
{% block title %}
        {% if travelExpense.id is empty %}
        Add travel expense
        {% else %}
        Edit travel expense
        {% endif %}
        - {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        // to check if new travel expense or not
        var isNewTravelExpense = {% if travelExpense.id is empty %}true{% else %}null{% endif %};
        {% if isEditLocked == 1 %}
        $(document).ready(function(){
            $('input').each(function(){
                $(this).attr('disabled', 'disabled');
            });
            $('select').each(function(){
                if (!$(this).hasClass('changeState')) {
                    $(this).attr('disabled', 'disabled');
                }
            });
            $('#travelExpense_add_travel_expense').addClass('button-disabled');
        });
        {% endif %}
    </script>
    <script type="text/javascript" src="{{ asset('bundles/opitnotestravel/js/showTravelExpense.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/opitnotescurrencyrate/js/CurrencyConverter.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/opitnotestravel/css/showTravelExpense.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/opitnotestravel/css/module.css') }}" />
{% endblock %}        
        
{% block body %}
    {% if travelExpense.id is empty %}
    <h1>Add travel expense</h1>
    {% else %}
    <h1>
        <i class="fa fa-book pointer float-right travel-status-history margin-top-10 margin-right-10 visibility-hidden cursor-pointer" data-id="{{ travelExpense.travelRequest.id }}"></i>
        Edit travel expense
    </h1>
    {% endif %}
    
    {% set dropdownIsDisabled = (travelExpenseStates|length == 1) %}
    <div id="changeStateWrapper" class="display-block">
        <h3 class="display-inline-block margin-top-0">Change status:</h3>
        {% if isStatusLocked == '0' %}
        <select data-tr="{{ travelExpense.id }}" class="changeState display-inline-block {% if dropdownIsDisabled %}dropdown-disabled{% endif %}" {% if dropdownIsDisabled %}disabled="disabled"{% endif %}">
            {% for key, value in travelExpenseStates %}
            <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
        {% else %}
        <select class="changeState dropdown-disabled" disabled="disabled">
            <option>{{ travelExpenseStates|first }}</option>
        </select>
        {% endif %}
    </div>    

    <h3>
        Travel request [<span id="travelRequestPreview" class="red-text pointer" title="Show travel request details" data-tr-id='{{ app.request.get('trId') }}'>{{ trId }}</span>], Approved costs: {{ approvedCostsEUR }} EUR / {{ approvedCostsHUF }} HUF
    </h3>
    <div class="dialog-description default-border-radius">
        Travel expense can be added or edited from here.
    </div>
    
    {% if form_errors(form)|length > 0 %}
    <div class="alert-message error-message">
        <i class='fa fa-exclamation-triangle'></i> <strong>Error messages:</strong>
        {{ form_errors(form) }}
    </div>
    {% endif %}

    {{ form(form, {
        'action': (path('OpitNotesTravelBundle_expense_show', { 'id': app.request.get('id'), 'trId': app.request.get('trId')})),
        'method': 'POST',
        'attr':{'id': 'travelExpenseForm'}
       })
    }}
{% endblock %}
    
{% block scripts %}
    {{ parent() }}
    <script>
        try {
            var curConverter = new CurrencyConverter({{ rates|raw }});
        } catch (err) {
            var errorMessage = 'Error. Currency Converter could not be initalized.';
            alert(errorMessage);
            throw new Error(errorMessage);
        }
    </script>
{% endblock %}