{% stylesheets
    'bundles/bmatznerfontawesome/css/font-awesome.min.css'
    '@OpitNotesTravelBundle/Resources/public/css/travelExpensePrintView.css'
    output='css/travel_expense_print.css' filter='?yui_css, cssrewrite'%}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

<a href="{{ path('OpitNotesTravelBundle_expense_export', {'id': app.request.get('id')}) }}">
    <img src="{{ asset('images/pdf-download-icon.png') }}" class="icons" />
</a>
<i class="fa fa-print fa-2x icons"></i>
<br />
<img src="{{ asset('images/opitLogo.png') }}" id="opitLogo" width="100px" height="23px" />
<h3>Travel Expense Details - {{ trId }}</h3>

{# User info #}
<table class="bordered">
    <tr>
        <td colspan="2" class="table-title">
            User info
        </td>
    </tr>
    <tr>
        <td class="bold">Employee Name</td>
        {% if travelExpense.user.employeeName is defined %}
        <td>{{ travelExpense.user.employeeName }}</td>
        {% endif %}
    </tr>
    <tr>
        <td class="bold">Tax id</td>
        <td>{{ travelExpense.taxIdentification }}</td>
    </tr>
    <tr>
        <td class="bold">Bank account number</td>
        <td>{{ travelExpense.bankAccountNumber }}</td>
    </tr>
    <tr>
        <td class="bold">Bank name</td>
        <td>{{ travelExpense.bankAccountNumber }}</td>
    </tr>
</table>
<div class="height-20 visibility-hidden"></div>

{# Reason for travel #}
<table>
    <tr>
        <td colspan="2" class="table-title">
            Reason for travel
        </td>
    </tr>
    <tr>
        <td colspan="2">{{ travelExpense.travelRequest.tripPurpose }}</td>
    </tr>
</table>
<div class="height-20 visibility-hidden"></div>

{# Travel dates #}
<table class="bordered" >
    <tr>
        <td colspan="4" class="table-title">
            Travel dates
        </td>
    </tr>
    <tr class="bold">
        <td></td>
        <td>Date</td>
        <td>Time</td>
        <td>Country</td>
    </tr>
    <tr>
        <td class="bold">Departure</td>
        <td>{{ travelExpense.departureDateTime|date('Y-m-d') }}</td>
        <td>{{ travelExpense.departureDateTime|date('H:i') }}</td>
        <td>{{ travelExpense.departureCountry }}</td>
    </tr>
    <tr>
        <td class="bold">Arrival</td>
        <td>{{ travelExpense.arrivalDateTime|date('Y-m-d') }}</td>
        <td>{{ travelExpense.arrivalDateTime|date('H:i') }}</td>
        <td>{{ travelExpense.arrivalCountry }}</td>
    </tr>
</table>
<div class="height-20 visibility-hidden"></div>

{# Summarization #}
<table>
    <tr>
        <td colspan="4" class="table-title">
            Summarization
        </td>
    </tr>
    <tr class="bold">
        <td></td>
        <td class="align-right">Total</td>
        <td class="align-right">Currency</td>
        <td class="align-right">Total</td>
    </tr>
    <tr>
        <td class="bold">Advance recieved</td>
        <td class="align-right">{{ travelExpense.advancesRecieved|number_format(currencyFormat.decimals, currencyFormat.dec_point, currencyFormat.thousands_sep) }}</td>
        <td class="align-right">{{ travelExpense.currency.code }}</td>
        <td class="align-right">{{ travelExpense.advancesRecieved|number_format(currencyFormat.decimals, currencyFormat.dec_point, currencyFormat.thousands_sep) }}</td>
    </tr>
    <tr>
        <td class="bold">Advances spent</td>
        <td class="align-right">{{ travelExpense.toSettle|number_format(currencyFormat.decimals, currencyFormat.dec_point, currencyFormat.thousands_sep) }}</td>
        <td class="align-right">{{ travelExpense.currency.code }}</td>
        <td class="align-right">{{ travelExpense.toSettle|number_format(currencyFormat.decimals, currencyFormat.dec_point, currencyFormat.thousands_sep) }}</td>
    </tr>
    <tr>
        <td class="bold">Advance payback</td>
        <td class="align-right">{{ travelExpense.advancesPayback|number_format(currencyFormat.decimals, currencyFormat.dec_point, currencyFormat.thousands_sep) }}</td>
        <td class="align-right">{{ travelExpense.currency.code }}</td>
        <td class="align-right">{{ travelExpense.advancesPayback|number_format(currencyFormat.decimals, currencyFormat.dec_point, currencyFormat.thousands_sep) }}</td>
    </tr>
    <tr>
        <td class="bold">Per Diem in EUR</td>
        <td class="align-right">{{ perDiem['totalPerDiem']|number_format(currencyFormat.decimals, currencyFormat.dec_point, currencyFormat.thousands_sep) }}</td>
        <td class="align-right">EUR</td>
        <td class="align-right">{{ perDiem['totalPerDiem']|number_format(currencyFormat.decimals, currencyFormat.dec_point, currencyFormat.thousands_sep) }}</td>
    </tr>
</table>
<div class="height-20 visibility-hidden"></div>

{# Total amount of expenses #}
<table class="bordered">
    <tr>
        <td colspan="3" class="table-title">
            Total amount of expenses
        </td>
    </tr>
    <tr>
        <td class="bold width-420">Expenses paid by OPIT (already paid by OPIT)</td>
        <td class="width-80 align-right">{{ convertCurrency('EUR','HUF', expensesPaidByCompany, midRate)|number_format(currencyFormat.decimals, currencyFormat.dec_point, currencyFormat.thousands_sep) }}</td>
        <td class="width-50">HUF</td>
    </tr>
    <tr>
        <td class="bold"></td>
        <td class="align-right">{{ expensesPaidByCompany|number_format(currencyFormat.decimals, currencyFormat.dec_point, currencyFormat.thousands_sep) }}</td>
        <td>EUR</td>
    </tr>
    <tr>
        <td class="bold">Expenses paid by employee (payable to your own bank account)</td>
        <td class="align-right">{{ convertCurrency('EUR','HUF',expensesPaidByEmployee, midRate)|number_format(currencyFormat.decimals, currencyFormat.dec_point, currencyFormat.thousands_sep) }}</td>
        <td>HUF</td>
    </tr>
    <tr>
        <td class="bold"></td>
        <td class="align-right">{{ expensesPaidByEmployee|number_format(currencyFormat.decimals, currencyFormat.dec_point, currencyFormat.thousands_sep) }}</td>
        <td>EUR</td>
    </tr>
    {% set totalExpenses = (expensesPaidByEmployee+expensesPaidByCompany+perDiem['totalPerDiem']) %}
    <tr class="bold">
        <td>Total expenses in HUF (OPIT + Employee + Per diem)</td>
        <td class="align-right">
            {{ convertCurrency('EUR','HUF', totalExpenses, midRate)|number_format(currencyFormat.decimals, currencyFormat.dec_point, currencyFormat.thousands_sep) }}
        </td>
        <td>HUF</td>
    </tr>
    <tr class="bold">
        <td>Total expenses in EUR (OPIT + Employee + Per diem)</td>
        <td class="align-right">
            {{ totalExpenses|number_format(currencyFormat.decimals, currencyFormat.dec_point, currencyFormat.thousands_sep) }}
        </td>
        <td>EUR</td>
    </tr>
</table>
<div class="height-20 visibility-hidden"></div>
<div class="signiture" style="background-color:white;">
    ____________________<br />
    &nbsp;&nbsp;{{ employee }}
</div>
<div class="signiture">
    Approved by {{ generalManager }} on {{ datetime }}.
</div>

{% if travelExpense.userPaidExpenses is defined %}
{% if travelExpense.userPaidExpenses|length > 0 %}
<div class="page-break-after"></div>

{# Employee paid expenses #}
<table class="bordered">
    <tr>
        <td colspan="3" class="table-title">
            Employee paid expenses
        </td>
    </tr>
    {% for userPaidExpenses in travelExpense.userPaidExpenses %}
    <tr>
        <td class="bold width-265">Destination</td>
        <td class="width-265">{{ userPaidExpenses.destination }}</td>
        <td class="incrementation" rowspan="5">{{ loop.index }}</td>
    </tr>
    <tr>
        <td class="bold width-265">Description</td>
        <td class="width-265">{{ userPaidExpenses.description }}</td>
    </tr>
    <tr>
        <td class="bold width-265">Expense type</td>
        <td class="width-265">{{ userPaidExpenses.expenseType.name }}</td>
    </tr>
    <tr>
        <td class="bold width-265">Amount</td>
        <td class="width-265">
            {{ userPaidExpenses.amount|number_format(currencyFormat.decimals, currencyFormat.dec_point, currencyFormat.thousands_sep) }} {{ userPaidExpenses.currency.code }}
        </td>
    </tr>
    <tr>
        <td class="bold width-265">Date</td>
        <td class="width-265">{{ userPaidExpenses.date|date('Y-m-d') }}</td>
    </tr>
    {% if loop.index != travelExpense.companyPaidExpenses|length %}
    <tr height="10px">
        <td style="border:none;"></td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
<div class="height-20 visibility-hidden"></div>
<div class="signiture" style="background-color:white;">
    ____________________<br />
    &nbsp;&nbsp;{{ employee }}
</div>
<div class="signiture">
    Approved by {{ generalManager }} on {{ datetime }}.
</div>
{% endif %}
{% endif %}

{% if travelExpense.companyPaidExpenses is defined %}
{% if travelExpense.companyPaidExpenses|length > 0 %}
<div class="page-break-after"></div>

{# Company paid expenses #}
<table class="bordered">
    <tr>
        <td colspan="3" class="table-title">
            Company paid expenses
        </td>
    </tr>
    {% for companyPaidExpenses in travelExpense.companyPaidExpenses %}
    <tr>
        <td class="bold width-265">Destination</td>
        <td class="width-265">{{ companyPaidExpenses.destination }}</td>
        <td class="incrementation" rowspan="5">{{ loop.index }}</td>
    </tr>
    <tr>
        <td class="bold width-265">Description</td>
        <td class="width-265">{{ companyPaidExpenses.description }}</td>
    </tr>
    <tr>
        <td class="bold width-265">Expense type</td>
        <td class="width-265">{{ companyPaidExpenses.expenseType.name }}</td>
    </tr>
    <tr>
        <td class="bold width-265">Amount</td>
        <td class="width-265">{{ companyPaidExpenses.amount|number_format(currencyFormat.decimals, currencyFormat.dec_point, currencyFormat.thousands_sep) }} {{ companyPaidExpenses.currency.code }}</td>
    </tr>
    <tr>
        <td class="bold width-265">Date</td>
        <td class="width-265">{{ companyPaidExpenses.date|date('Y-m-d') }}</td>
    </tr>
    {% if loop.index != travelExpense.companyPaidExpenses|length %}
    <tr height="10px">
        <td style="border:none;"></td>
    </tr>
    {% endif %}    
    {% endfor %}
</table>
<div class="height-20 visibility-hidden"></div>
<div class="signiture" style="background-color:white;">
    ____________________<br />
    &nbsp;&nbsp;{{ employee }}
</div>
<div class="signiture">
    Approved by {{ generalManager }} on {{ datetime }}.
</div>
{% endif %}
{% endif %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ asset('bundles/opitnotestravel/js/travelExpensePrintView.js') }}"></script>
