{% block stylesheets %}
    {% stylesheets
        'bundles/bmatznerfontawesome/css/font-awesome.min.css'
        output='css/travel_expense_print.css' filter='?yui_css, cssrewrite'%}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/opitnotestravel/css/travelExpensePrintView.css' ) }}" />    
{% endblock %}

<a href="{{ path('OpitNotesTravelBundle_expense_export', {'id': app.request.get('id')}) }}">
    <img src="{{ asset('images/pdf-download-icon.png') }}" class="icons position-fixed fix-right-10" />
</a>
<i class="fa fa-print fa-2x icons position-fixed fix-right-50"></i>
<br />
<img src="{{ asset('images/opitLogo.png') }}" id="opitLogo" width="100px" height="23px" />
<h3>Travel Expense Report  /  Kiküldetési költségelszámolás - {{ trId }}</h3>

{# User info #}
<table class="bordered">
    <tr>
        <td colspan="2" class="table-title">
            User info
        </td>
    </tr>
    <tr>
        <td class="bold">Employee Name  /  Dolgozó neve</td>
        {% if travelExpense.user.employeeName is defined %}
        <td>{{ travelExpense.user.employeeName }}</td>
        {% endif %}
    </tr>
    <tr>
        <td class="bold">Tax id  /  Adóazonosító</td>
        <td>{{ travelExpense.taxIdentification }}</td>
    </tr>
    <tr>
        <td class="bold">Bank account number  /  Bankszámlaszám</td>
        <td>{{ travelExpense.bankAccountNumber }}</td>
    </tr>
    <tr>
        <td class="bold">Bank name  /  Bank neve</td>
        <td>{{ travelExpense.bankName }}</td>
    </tr>
</table>
<div class="height-20"></div>

{# Reason for travel #}
<table>
    <tr>
        <td colspan="2" class="table-title">
            Reason for travel  /  Utazás oka
        </td>
    </tr>
    <tr>
        <td colspan="2">{{ travelExpense.travelRequest.tripPurpose }}</td>
    </tr>
</table>
<div class="height-20"></div>

{# Travel dates #}
<table class="bordered" >
    <tr>
        <td colspan="4" class="table-title">
            Travel dates  /  Utazási dátumok
        </td>
    </tr>
    <tr class="bold">
        <td></td>
        <td>Date  /  Dátum</td>
        <td>Time  /  Idő</td>
        <td>Country  /  Ország</td>
    </tr>
    <tr>
        <td class="bold">Departure  /  Indulás</td>
        <td>{{ travelExpense.departureDateTime|date('Y-m-d') }}</td>
        <td>{{ travelExpense.departureDateTime|date('H:i') }}</td>
        <td>{{ travelExpense.departureCountry }}</td>
    </tr>
    <tr>
        <td class="bold">Arrival  /  Érkezés</td>
        <td>{{ travelExpense.arrivalDateTime|date('Y-m-d') }}</td>
        <td>{{ travelExpense.arrivalDateTime|date('H:i') }}</td>
        <td>{{ travelExpense.arrivalCountry }}</td>
    </tr>
</table>
<div class="height-20"></div>

{# Summarization #}
<table>
    <tr>
        <td colspan="3" class="table-title">
            Summarization  /  Összegzés
        </td>
    </tr>
    {% for advancesReceived in travelExpense.advancesReceived %}
    <tr>
        {% if '0' == loop.index0%}
        <td class="bgGrey bold">Advances received  /  Felvett előleg</td>
        {% else %}
        <td class="bgGrey bold"></td>
        {% endif %}
        <td>{{ advancesReceived.advancesReceived }}</td>
        <td>{{ advancesReceived.currency.code }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td class="bold">Per Diem in EUR  /  Napidíj EUR-ban</td>
        <td>{{ perDiem['totalPerDiem']|number_format(currencyFormat.decimals, currencyFormat.dec_point, currencyFormat.thousands_sep) }}</td>
        <td>EUR</td>
    </tr>
</table>
<div class="height-20"></div>

{# Total amount of expenses #}
<table class="bordered">
    <tr>
        <td colspan="3" class="table-title">
            Total amount of expenses  /  Összes költség
        </td>
    </tr>
    {% set companyPaidExpensesHasTitle = 0 %}
    {% set employeePaidExpensesHasTitle = 0 %}
    {% for currency, cost in companyPaidExpenses %}
        {% if '0' != cost %}
            <tr>
            {% if '0' == companyPaidExpensesHasTitle %}
                <td class="bold">
                    Expenses paid by company (already paid by OPIT) /<br />
                    Cég által kifizetett költségek (OPIT által kifizetve)
                </td>
            {% set companyPaidExpensesHasTitle = 1 %}
            {% else %}
            <td></td>
            {% endif %}
            <td class="white-space-nowrap">
                {% if 'HUF' == currency %}
                    {{ cost|round|number_format(0, '', currencyFormat.thousands_sep) }}
                {% else %}
                    {{ cost|number_format(currencyFormat.decimals, currencyFormat.dec_point, currencyFormat.thousands_sep) }}
                {% endif %}
            </td>
            <td>{{ currency }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    {% if '0' == companyPaidExpensesHasTitle %}
        <tr>
            <td class="bold">
                Expenses paid by company (already paid by OPIT)  /<br />
                Cég által fizetett költségek (OPIT által kifizetve)
            </td>
            <td>0</td>
            <td></td>
        </tr>
    {% endif %}
    
    {% for currency, cost in employeePaidExpenses %}
        {% if '0' != cost %}
            <tr>
            {% if '0' == employeePaidExpensesHasTitle %}
            <td class="bold">
                Expenses paid by employee (payable to your own bank account)  /<br />
                Dolgozó által kifizetett költségek (dolgozó bankszámlájára fizetendő)
            </td>
            {% set employeePaidExpensesHasTitle = 1 %}
            {% else %}
            <td></td>
            {% endif %}
            <td class="white-space-nowrap">
                {% if 'HUF' == currency %}
                    {{ cost|round|number_format(0, '', currencyFormat.thousands_sep) }}
                {% else %}
                    {{ cost|number_format(currencyFormat.decimals, currencyFormat.dec_point, currencyFormat.thousands_sep) }}
                {% endif %}
            </td>
            <td>{{ currency }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    {% if '0' == employeePaidExpenses %}
        <tr>
            <td class="bold">
                Expenses paid by employee (payable to your own bank account)  /<br />
                Dolgozó által kifizetett költségek (dolgozó bankszámlájára visszafizetendő)
            </td>
            <td>0</td>
            <td></td>
        </tr>
    {% endif %}
   
    {% set totalExpenses = (expensesPaidByEmployee + expensesPaidByCompany + perDiem['totalPerDiem']) %}
    <tr class="bold">
        <td>
            Total expenses in HUF  /  Összes költség HUF-ban
        </td>
        <td class="white-space-nowrap">
            {{ convertCurrency('EUR','HUF', totalExpenses, midRate)|round|number_format(0, '', currencyFormat.thousands_sep) }}
        </td>
        <td>HUF</td>
    </tr>
    <tr class="bold">
        <td>
            Total expenses in EUR  /  
            Összes költség EUR-ban
        </td>
        <td class="white-space-nowrap">
            {{ totalExpenses|number_format(currencyFormat.decimals, currencyFormat.dec_point, currencyFormat.thousands_sep) }}
        </td>
        <td>EUR</td>
    </tr>
</table>
<div class="height-20"></div>
<div class="signiture" style="background-color:white;">
    ____________________<br />
    &nbsp;&nbsp;{{ employee }}
</div>
<div class="signiture">
    Approved by {{ generalManager }} on {{ datetime }}.
</div>

{% if travelExpense.userPaidExpenses is defined %}
{% if travelExpense.userPaidExpenses|length > 0 %}
<div class="page-break-after"></div>

{# Employee paid expenses #}
<table class="bordered">
    <tr>
        <td colspan="3" class="table-title">
            Employee paid expenses
        </td>
    </tr>
    {% for userPaidExpenses in travelExpense.userPaidExpenses %}
    <tr>
        <td class="bold width-265">Destination</td>
        <td class="width-265">{{ userPaidExpenses.destination }}</td>
        <td class="incrementation" rowspan="5">{{ loop.index }}</td>
    </tr>
    <tr>
        <td class="bold width-265">Description</td>
        <td class="width-265">{{ userPaidExpenses.description }}</td>
    </tr>
    <tr>
        <td class="bold width-265">Expense type</td>
        <td class="width-265">{{ userPaidExpenses.expenseType.name }}</td>
    </tr>
    <tr>
        <td class="bold width-265">Amount</td>
        <td class="width-265">
            {% if 'HUF' == userPaidExpenses.currency.code %}
                {{ userPaidExpenses.amount|round|number_format(0, '', ' ') }}
            {% else %}
                {{ userPaidExpenses.amount|number_format(currencyFormat.decimals, currencyFormat.dec_point, currencyFormat.thousands_sep) }}
            {% endif %}
            {{ userPaidExpenses.currency.code }}
        </td>        
    </tr>
    <tr>
        <td class="bold width-265">Date</td>
        <td class="width-265">{{ userPaidExpenses.date|date('Y-m-d') }}</td>
    </tr>
    <tr height="10px">
        <td style="border:none;"></td>
    </tr>
    
    {% endfor %}
</table>
<div class="height-20"></div>
<div class="signiture" style="background-color:white;">
    ____________________<br />
    &nbsp;&nbsp;{{ employee }}
</div>
<div class="signiture">
    Approved by {{ generalManager }} on {{ datetime }}.
</div>
{% endif %}
{% endif %}

{% if travelExpense.companyPaidExpenses is defined %}
{% if travelExpense.companyPaidExpenses|length > 0 %}
<div class="page-break-after"></div>

{# Company paid expenses #}
<table class="bordered">
    <tr>
        <td colspan="3" class="table-title">
            Company paid expenses
        </td>
    </tr>
    {% for companyPaidExpenses in travelExpense.companyPaidExpenses %}
    <tr>
        <td class="bold width-265">Destination</td>
        <td class="width-265">{{ companyPaidExpenses.destination }}</td>
        <td class="incrementation" rowspan="5">{{ loop.index }}</td>
    </tr>
    <tr>
        <td class="bold width-265">Description</td>
        <td class="width-265">{{ companyPaidExpenses.description }}</td>
    </tr>
    <tr>
        <td class="bold width-265">Expense type</td>
        <td class="width-265">{{ companyPaidExpenses.expenseType.name }}</td>
    </tr>
    <tr>
        <td class="bold width-265">Amount</td>
        <td class="width-265">
            {% if 'HUF' == companyPaidExpenses.currency.code %}
                {{ companyPaidExpenses.amount|round|number_format(0, '', ' ') }}
            {% else %}
                {{ companyPaidExpenses.amount|number_format(currencyFormat.decimals, currencyFormat.dec_point, currencyFormat.thousands_sep) }}
            {% endif %}
            {{ companyPaidExpenses.currency.code }}
        </td>
    </tr>
    <tr>
        <td class="bold width-265">Date</td>
        <td class="width-265">{{ companyPaidExpenses.date|date('Y-m-d') }}</td>
    </tr>
    <tr height="10px">
        <td style="border:none;"></td>
    </tr>

    {% endfor %}
</table>
<div class="height-20"></div>
<div class="signiture" style="background-color:white;">
    ____________________<br />
    &nbsp;&nbsp;{{ employee }}
</div>
<div class="signiture">
    Approved by {{ generalManager }} on {{ datetime }}.
</div>
{% endif %}
{% endif %}
<div class="page-break-after"></div>
<table class="bordered">
    <tr>
        <td colspan="2" class="table-title">
            Exchange rates
        </td>
    </tr>
    {% for key, value in rates %}
        <tr>
            <td class="bold">{{ key }}</td>
            <td>{{ value|number_format(currencyFormat.decimals, currencyFormat.dec_point, currencyFormat.thousands_sep) }}</td>
        </tr>
    {% endfor %}
</table>
<div class="height-20"></div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ asset('bundles/opitnotestravel/js/travelExpensePrintView.js') }}"></script>
