{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '../app/Resources/public/css/updateStatus.scss'
    output='css/opithrmuser/status.css' filter='?yui_css,cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block body %}
<div class="align-center margin-bottom-10">
    <a href="{{ path('OpitOpitHrmUserBundle_user_show_infoboard') }}" id="siteLogo" class="text-decoration-none clearfix">
        <span class="display-block"><img src="{{ asset('images/logo.png') }}" width="105" alt="" /></span>
        <div class="clear"></div>
    </a>
</div>      
<div id="request-status">
<h2>Change password</h2>
<h4>
    You need to change your password before your first login into <a href="{{ path('OpitOpitHrmUserBundle_security_login') }}">OPIT-HRM</a>.
</h4>
    <div id="reply-message" class="alert-message error-message width-300 margin-center display-none">
        <i class="fa fa-exclamation-triangle"></i> <strong>Error messages:</strong>
    </div>
    {{ form(form, {
        'action': (path('OpitOpitHrmUserBundle_user_change_password', { 'id': app.request.get('id')})),
        'method': 'POST'
       })
    }}
</div>
{% endblock %}    
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $ul = $(document).find('ul');
            if ($ul.length > 0) {
                $('#reply-message').append($ul);
                $('#reply-message').toggleClass('display-none');
            }
        });
    </script>    
{% endblock %}