<body style="font-size:12px;font-family: 'Arial'">
{% set travelExpense = templateVars['travelExpense'] %}
{% if templateVars['nextStates'] is defined %}
    {% set nextStates = templateVars['nextStates'] %}
    {% set stateChangeLinks = templateVars['stateChangeLinks'] %}
{% endif %}
    <table cellpadding="5" style="background: #0C090A; width: 400px; font-size: 12px; color: white; border-bottom: 1px solid #94c11c;">
        <tr>
            <td colspan="2">
                <font style="color:#94c11c; font-size: 13px;"><u>Status</u></font><br />
            </td>
        </tr>
        {% if templateVars['nextStates'] is not defined %}
        <tr>
            <td width="20%"><strong>Current:</strong></td>
            <td>{{ templateVars['currentState']}}</td>
        </tr>
        {% endif %}
        <tr>
            <td width="20%"><strong>Update:</strong></td>
            <td>
                {% if templateVars['nextStates'] is defined %}
                    {% for nextState in nextStates %}
                        <a href="{{ stateChangeLinks[loop.index0] }}" style="color: #82CAFF;">{{ nextState }}</a>
                        {% if loop.index != nextStates|length %}
                         | 
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% if templateVars['isApproved'] is defined %}
                        Your travel expense has been approved. You can check it
                    {% elseif templateVars['isRevised'] is defined %}
                        Kindly edit your travel expense
                    {% elseif templateVars['isRejected'] is defined %}
                        Your travel expense has been rejected, you can create a new travel request
                    {% elseif templateVars['isCreated'] is defined %}
                        Your travel expense has been created, you can send it for approval
                    {% endif %}
                     by logging into 
                    <a href="{{ templateVars['url'] }}" style="color: #82CAFF;">
                        {% if (application_name is defined and application_name is not empty) %}{{ application_name }}{% else %}OPIT-HRM{% endif %}
                    </a>.
                {% endif %}
            </td>
        </tr>
    </table>

    <table cellpadding="5"  style="background: #0C090A; width: 400px;color: white; font-size: 12px; border-spacing: 0;border-bottom: 1px solid #94c11c;">
        <tr>
            <td colspan="2">
                <font style="color:#94c11c; font-size: 13px;"><u>General info</u></font><br />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table cellpadding="3" border="1" bordercolor="white" style="width: 100%; color: white; font-size: 12px; border-collapse: collapse; border-spacing: 0;">
                     <tr>
                        <td style="font-weight:bold; width: 30%;">ID</td>
                        <td>{{ attribute(travelExpense.travelRequest, 'travelRequestId') }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold; width: 30%;">Employee name</td>
                        <td>{{ travelExpense.travelRequest.user.employee.employeeNameFormatted }}</td>
                    </tr>

                    <tr>
                        <td style="font-weight:bold; width: 30%;">Departure county</td>
                        <td>{{ travelExpense.departureCountry }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold; width: 30%;">Departure date time</td>
                        <td>{{ attribute(travelExpense, 'departureDateTime')|date('Y-m-d H:i:s') }}</td>
                    </tr>

                    <tr>
                        <td style="font-weight:bold; width: 30%;">Arrival county</td>
                        <td>{{ travelExpense.arrivalCountry }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold; width: 30%;">Arrival date time</td>
                        <td>{{ attribute(travelExpense, 'arrivalDateTime')|date('Y-m-d H:i:s') }}</td>
                    </tr>

                    {% for teAdvancesReceived in travelExpense.advancesReceived %}
                    {% set currencyCode = teAdvancesReceived.currency.code %}
                    {% set advancesReceived = teAdvancesReceived.advancesReceived %}
                    {% if '0' == loop.index0 %}
                        <tr>
                            <td style="font-weight:bold; width: 30%;">Advances recieved</td>
                            <td>{{ advancesReceived }} {{ currencyCode }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td style="font-weight:bold; width: 30%;"></td>
                            <td>{{ advancesReceived }} {{ currencyCode }}</td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                </table>
        </td>
        </tr>
    </table>

     <table cellpadding="5"  style="background: #0C090A; width: 400px;color: white; font-size: 12px; border-spacing: 0;border-bottom: 1px solid #94c11c;">
        <tr>
            <td colspan="2">
                <font style="color:#94c11c; font-size: 13px;"><u>Advances paid by employee</u></font><br />
            </td>
        </tr>
        <tr>
            <td colspan="2">
        {% for userPaidExpenses in travelExpense.userPaidExpenses %}
                <table cellpadding="3" border="1" bordercolor="white" style="width: 100%; color: white; font-size: 12px; border-collapse: collapse; border-spacing: 0;">
                    <tr>
                        <td style="font-weight:bold; width: 30%;">Destination</td>
                        <td style="border-bottom: solid 1px;padding-top:4px;">{{ userPaidExpenses.destination }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold; width: 30%;">Description</td>
                        <td style="border-bottom: solid 1px;padding-top:4px;">{{ userPaidExpenses.description }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold; width: 30%;">Expense type</td>
                        <td style="border-bottom: solid 1px;padding-top:4px;">{{ userPaidExpenses.expenseType.name }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold; width: 30%;">Amount</td>
                        <td style="border-bottom: solid 1px;padding-top:4px;">{{ userPaidExpenses.amount }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold; width: 30%;">Date</td>
                        <td style="border-bottom: solid 1px;padding-top:4px;">{{ userPaidExpenses.date|date('Y-m-d') }}</td>
                    </tr>
                </table>
                    </br>
        {% endfor %}
            </td>
        </tr>
    </table>

    <table cellpadding="5"  style="background: #0C090A; width: 400px;color: white; font-size: 12px; border-spacing: 0;border-bottom: 1px solid #94c11c;">
        <tr>
            <td colspan="2">
                <font style="color:#94c11c; font-size: 13px;"><u>Advances paid by company</u></font><br />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                    {% for companyPaidExpenses in travelExpense.companyPaidExpenses %}
                     <table cellpadding="3" border="1" bordercolor="white" style="width: 100%; color: white; font-size: 12px; border-collapse: collapse; border-spacing: 0;">
                        <tr>
                            <td style="font-weight:bold; width: 30%;">Destination</td>
                            <td style="border-bottom: solid 1px;padding-top:4px;">{{ companyPaidExpenses.destination }}</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold; width: 30%;">Description</td>
                            <td style="border-bottom: solid 1px;padding-top:4px;">{{ companyPaidExpenses.description }}</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold; width: 30%;">Expense type</td>
                            <td style="border-bottom: solid 1px;padding-top:4px;">{{ companyPaidExpenses.expenseType.name }}</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold; width: 30%;">Amount</td>
                            <td style="border-bottom: solid 1px;padding-top:4px;">{{ companyPaidExpenses.amount }}</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold; width: 30%;">Date</td>
                            <td style="border-bottom: solid 1px;padding-top:4px;">{{ companyPaidExpenses.date|date('Y-m-d') }}</td>
                        </tr>
                </table>
                {% endfor %}
            </td>
        </tr>
    </table>

    {% include 'OpitOpitHrmCoreBundle:Mail:footer.html.twig' %}
</body>